{% if languages|length > 1 %}
	<span id="form-language">
		<ul class="nav nav-horizontal">
			{% if tbData['system.language']['menu_type'] == 'dropdown' %}
				<li class="tb_selected{% if languages|length > 1 %} dropdown{% endif %}" aria-haspopup="true">
					{% for language in languages %}
						{% if language.code == code %}
							<a href="javascript:;">
								<span class="tb_text">{{ language.name }}</span>
							</a>
						{% endif %}
					{% endfor %}
					<ul class="dropdown-menu tb_ip_xs tb_vsep_xs">
						{% for language in languages %}
							{% if language.code != code %}
								<li>
									<a href="{{ language.url }}" onclick="window.location = '{{ language.url }}'" data-language-code="{{ language.code }}">
										{{ language.name }}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			{% else %}
				{% for language in languages %}
					<li {% if language.code == code %} class="tb_selected" {% endif %}>
						<a href="{{ language.url }}" onclick="window.location = '{{ language.url }}'">
							{{ language.name }}
						</a>
					</li>
				{% endfor %}
			{% endif %}
		</ul>

	</span>
{% endif %}
