{{ header }}
<div id="error-not-found" class="container-fluid container-xl flex-grow-1 d-flex flex-column">
	<div class="content-top-box">{{ content_top }}</div>
	<div class="mt-3 p-lg-5 text-center h-100 flex-grow-1">
		<h1>{{ heading_title }}</h1>
		<div class="ds-404-content-text mt-3 mb-3">
			{{ text_error }}
		</div>
		{% if (oct_404_image is defined and oct_404_image is not empty) %}
		<div class="my-5"><img class="img-fluid" src="{{ oct_404_image }}" /></div>
		{% endif %}
	</div>
	<div class="content-bottom-box px-3 px-md-0">{{ content_bottom }}</div>
</div>
{{ footer }}
