{% if languages|length > 1 %}
<div id="language" class="language">
	<div class="mobile-info-title d-lg-none">
		<strong>{{ text_language }}</strong>
	</div>
	<div id="form-language">
		<div class="btn-group h-100">
			<button class="btn btn-lang btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{% for language in languages %}
					{% if language.code == code %}
						{% if (settings_widget['image_status'] is defined and settings_widget['image_status']) %}
							<img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" class="lang">
						{% endif %}
						<span>{{ language.name }}</span>
						<i class="fas fa-chevron-down"></i>
					{% endif %}
				{% endfor %}
			</button>


			<div class="dropdown-menu nav-dropdown-menu dropdown-menu-right">
				{% for language in languages %}
					{% if language.main %}
						<button onclick="lm_deleteCookie('languageauto'); window.location = '{{ language.url }}'" class="btn btn-block language-select{% if language.current %} active-item{% endif %}" type="button">
							{% if (settings_widget['image_status'] is defined and settings_widget['image_status']) %}
								<img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}"/>
							{% endif %}
							{{ language.name }}</button>
					{% else %}
						<button onclick="lm_setCookie('languageauto', '1', {expires: 180}); window.location = '{{ language.url }}'" class="btn btn-block language-select{% if language.current %} active-item{% endif %}" type="button">
							{% if (settings_widget['image_status'] is defined and settings_widget['image_status']) %}
								<img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}"/>
							{% endif %}
							{{ language.name }}</button>
					{% endif %}
				{% endfor %}
			</div>


		</div>
	</div>
</div>

<script>
function lm_setCookie(name, value, options = {}) {
options = {
  path: '/',
  ...options
};

let date = new Date(Date.now() + (86400e3 * options.expires));
date = date.toUTCString();
options.expires = date;

let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

for (let optionKey in options) {
  updatedCookie += "; " + optionKey;
  let optionValue = options[optionKey];
  if (optionValue !== true) {
    updatedCookie += "=" + optionValue;
  }
}
document.cookie = updatedCookie;
}

function lm_deleteCookie(name) {
  lm_setCookie(name, "", {'max-age': -1});
}
</script>

{% endif %}
