{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" id="view-log" data-toggle="tooltip" title="{{ text_view_log }}" class="btn btn-primary"><i class="fa fa-eye"></i> Log</button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="nav navbar-nav navbar-left">
         {% for nav in navs %} 
         <a href="{{ nav.href }}" class="btn btn-default navbar-btn {{ nav.active }}">{{ nav.text }}</a>
         {% endfor %} 
       </div>
      </div>
    </nav>  
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
      <div class="pull-right form-inline">
        <label class="control-label" for="language-from">From:&nbsp;</label><select class="form-control" id="language-from">
          <option value="*">{{ text_select }}</option>
        {% for lang in languages %} 
          <option value="{{ lang.language_id }}">{{ lang.name }}</option>
        {% endfor %}</select>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label class="control-label" for="language-to">To:&nbsp;</label><select class="form-control" id="language-to">
          <option value="*">{{ text_select }}</option>
        {% for lang in languages %} 
          <option value="{{ lang.language_id }}">{{ lang.name }}</option>
        {% endfor %}</select>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" data-toggle="tooltip" title="{{ button_bulk_translate }}" class="btn btn-warning" onclick="bulkTransalte();"><i class="fa fa-flag-o"></i></button>
      </div>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-model">{{ entry_model }}</label>
                <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
              </div>
              <div class="form-group form-inline">
				<div class="checkbox">
                <label>{{ entry_empty_description }}{% if (filter_empty_description) %} 
				<input type="checkbox" checked="checked" name="filter_empty_description" />
				{% else %} 
				<input type="checkbox" name="filter_empty_description" />
				{% endif %} 
				</label>
				</div>
				 <select name="filter_language_id" class="form-control">
                  <option value="*">{{ text_select }}</option>
                  {% for lang in languages %} 
				  {% if (filter_language_id == lang.language_id) %} 
                  <option selected="selected" value="{{ lang.language_id }}">{{ lang.name }}</option>
				  {% else %} 
                  <option value="{{ lang.language_id }}">{{ lang.name }}</option>
				  {% endif %} 
                  {% endfor %}</select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-price">{{ entry_price }}</label>
                <input type="text" name="filter_price" value="{{ filter_price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-quantity">{{ entry_quantity }}</label>
                <input type="text" name="filter_quantity" value="{{ filter_quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-category">{{ entry_category }}</label>
				<input type="text" name="category" value="{{ category }}" placeholder="{{ entry_category }}" id="input-category" class="form-control" />
                <input type="hidden" name="filter_category_id" value="{{ filter_category_id }}" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-manufacturer">{{ entry_manufacturer }}</label>
				<input type="text" name="manufacturer" value="{{ manufacturer }}" placeholder="{{ entry_manufacturer }}" id="input-manufacturer" class="form-control" />
                <input type="hidden" name="filter_manufacturer_id" value="{{ filter_category_id }}" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-status">{{ entry_status }}</label>
                <select name="filter_status" id="input-status" class="form-control">
                  <option value="*"></option>
                  {% if (filter_status == '1') %} 
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %} 
                  <option value="1">{{ text_enabled }}</option>
                  {% endif %} 
                  {% if (filter_status == '0') %} 
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %} 
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %} 
                </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="input-ready">{{ entry_ready }}</label>
                <select name="filter_ready" id="input-ready" class="form-control">
                  <option value="*"></option>
				  {% for f_ready,text in text_filter_ready %}
					{% if f_ready == filter_ready %}
						{% set selected = 'selected="selected"' %}
					{% else %}
						{% set selected = '' %}
					{% endif %}
					<option value="{{ f_ready }}" {{ selected }}>{{ text }}</option>
                  {% endfor %} 
				  {% for f_ready,text in text_filter_not_ready %}
					{% if f_ready == filter_ready %}
						{% set selected = 'selected="selected"' %}
					{% else %}
						{% set selected = '' %}
					{% endif %}
					<option value="{{ f_ready }}"  {{ selected }}>{{ text }}</option>
                  {% endfor %} 
                </select>
              </div>
              <div class="form-group form-inline input-daterange">
                <div>
                  <span class="date">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    <input type="text" name="filter_start_date_added" value="{{ filter_start_date_added }}" placeholder="{{ entry_start_added }}" data-date-format="YYYY-MM-DD" id="input-start-date-added" class="form-control" />
                  </span>
                </div>
                <div>
                  <span class="date">
                    <input type="text" name="filter_end_date_added" value="{{ filter_end_date_added }}" placeholder="{{ entry_end_added }}" data-date-format="YYYY-MM-DD" id="input-end-date-added" class="form-control" />
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <div class="form-group form-inline input-daterange">
                <div>
                  <span class="date">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    <input type="text" name="filter_start_date_modified" value="{{ filter_start_date_modified }}" placeholder="{{ entry_start_modify }}" data-date-format="YYYY-MM-DD" id="input-start-date-modified" class="form-control" />
                  </span>
                </div>
                <div>
                  <span class="date">
                    <input type="text" name="filter_end_date_modified" value="{{ filter_end_date_modified }}" placeholder="{{ entry_end_modify }}" data-date-format="YYYY-MM-DD" id="input-end-date-modified" class="form-control" />
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <a href="{{ filter }}" class="btn btn-default pull-right">Clear filter</a>
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
        <form action="{{ translate }}" method="post" enctype="multipart/form-data" id="form-product">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-center">{{ column_image }}</td>
                  <td class="text-left">{% if (sort == 'pd.name') %} 
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %} 
                    <a href="{{ sort_name }}">{{ column_name }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if (sort == 'p.model') %} 
                    <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a>
                    {% else %} 
                    <a href="{{ sort_model }}">{{ column_model }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'p.price') %} 
                    <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a>
                    {% else %} 
                    <a href="{{ sort_price }}">{{ column_price }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if (sort == 'p.quantity') %} 
                    <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a>
                    {% else %} 
                    <a href="{{ sort_quantity }}">{{ column_quantity }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if (sort == 'p.status') %} 
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %} 
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if (products) %} 
                {% for product in products %} 
                <tr>
                  <td class="text-center">{% if product.product_id in selected %} 
                    <input type="checkbox" name="selected[]" value="{{ product.product_id }}" checked="checked" />
                    {% else %} 
                    <input type="checkbox" name="selected[]" value="{{ product.product_id }}" />
                    {% endif %}</td>
                  <td class="text-center">{% if (product.image) %} 
                    <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" />
                    {% else %} 
                    <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span>
                    {% endif %}</td>
                  <td class="text-left">{{ product.name }}</td>
                  <td class="text-left">{{ product.model }}</td>
                  <td class="text-right">{{ product.price }}</td>
                  <td class="text-right">{% if (product.quantity <= 0) %} 
                    <span class="label label-warning">{{ product.quantity }}</span>
                    {% elseif (product.quantity <= 5) %} 
                    <span class="label label-danger">{{ product.quantity }}</span>
                    {% else %} 
                    <span class="label label-success">{{ product.quantity }}</span>
                    {% endif %}</td>
                  <td class="text-left">{{ product.status }}</td>
                  <td class="text-right">
				  <a class="btn btn-default" target="_blank" href="{{ product.view }}"><i class="fa fa-eye"></i></a> 
				  <a class="btn btn-default" target="_blank" href="{{ product.edit }}"><i class="fa fa-pencil"></i></a>
				  <button type="button" data-toggle="tooltip" title="{{ button_translate }}" class="btn btn-primary product_translate" data-product_id="{{ product.product_id }}"><i class="fa fa-flag-o"></i></button></td>
                </tr>
                {% endfor %} 
                {% else %} 
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %} 
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="confirm-translate" tabindex="-1" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                  <h4 class="modal-title" id="myModalLabel">Translate complete</h4>
              </div>
              <div class="modal-content" style="padding: 40px 20px;">
  				<div class="ya">Переведено</div>
  			</div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
              </div>
          </div>
      </div>
  </div>
  <script type="text/javascript"><!--
function getFilter() {
	var url = '';
	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_model = $('input[name=\'filter_model\']').val();

	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}

	var filter_price = $('input[name=\'filter_price\']').val();

	if (filter_price) {
		url += '&filter_price=' + encodeURIComponent(filter_price);
	}

	var filter_quantity = $('input[name=\'filter_quantity\']').val();

	if (filter_quantity) {
		url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}
	var filter_empty_description = $('input[name=\'filter_empty_description\']:checked').val();

	if (filter_empty_description) {
		url += '&filter_empty_description=' + encodeURIComponent(filter_empty_description);
	}
	var filter_language_id = $('select[name=\'filter_language_id\']').val();

	if (filter_language_id != '*') {
		url += '&filter_language_id=' + encodeURIComponent(filter_language_id);
	}

	var filter_ready = $('select[name=\'filter_ready\']').val();

	if (filter_ready != '*') {
		url += '&filter_ready=' + encodeURIComponent(filter_ready);
	}

	var filter_category_id = $('input[name=\'filter_category_id\']').val();

	if (filter_category_id) {
		url += '&filter_category_id=' + encodeURIComponent(filter_category_id);
	}

	var filter_manufacturer_id = $('input[name=\'filter_manufacturer_id\']').val();

	if (filter_manufacturer_id) {
		url += '&filter_manufacturer_id=' + encodeURIComponent(filter_manufacturer_id);
	}

	var filter_start_date_added = $('input[name=\'filter_start_date_added\']').val();

	if (filter_start_date_added) {
		url += '&filter_start_date_added=' + encodeURIComponent(filter_start_date_added);
	}
	var filter_end_date_added = $('input[name=\'filter_end_date_added\']').val();

	if (filter_end_date_added) {
		url += '&filter_end_date_added=' + encodeURIComponent(filter_end_date_added);
	}
	var filter_start_date_modified = $('input[name=\'filter_start_date_modified\']').val();

	if (filter_start_date_modified) {
		url += '&filter_start_date_modified=' + encodeURIComponent(filter_start_date_modified);
	}
	var filter_end_date_modified = $('input[name=\'filter_end_date_modified\']').val();

	if (filter_end_date_modified) {
		url += '&filter_end_date_modified=' + encodeURIComponent(filter_end_date_modified);
	}
	return url;
}

$('#button-filter').on('click', function() {
	var url = '{{ filter }}';
	location = url + getFilter();
});
//--></script>
<script type="text/javascript"><!--
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: '{{ product_auto_complete }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});
// Category
$('input[name=\'category\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: '{{ filter_category }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'category\']').val(item['label']);
		$('input[name=filter_category_id]').val(item['value']);
	}
});

$('input[name=\'filter_model\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: '{{ product_auto_complete }}&filter_model=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_model\']').val(item['label']);
	}
});
$('input[name=\'manufacturer\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: '{{ filter_manufacturer }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['manufacturer_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'manufacturer\']').val(item['label']);
		$('input[name=filter_manufacturer_id]').val(item['value']);
	}
});

function oneTranslate(select_from,select_to, product_id){
	$.ajax({
		url: '{{ translate }}' + '&from=' + select_from + '&to=' + select_to,
		method: 'POST',
		data:'product_id='+product_id,
		dataType: 'json',
		beforeSend:function(){$('#p_id').text(product_id)},
		success: function(json) {
			if (json.success) {
				if (selected.length) {
					console.log(json.last_id);
					var prod_id = selected.pop();
					oneTranslate(select_from,select_to, prod_id)
				} else {
					$(".bg_load").remove();
					$(".wrapper").remove();
					$('#confirm-translate').modal().show()					
				}
			} else if (json.error) {
				$(".bg_load").remove();
				$(".wrapper").remove();
				$('#confirm-translate .ya').html(json.error['message']);
				$('#confirm-translate').modal().show()					
				
			}
		}
	});	
}
var selected = [];
$('.product_translate').click(function(){
	selected = [];
	var prod_id = $(this).attr('data-product_id');
	selected.push(prod_id);
	startTranslate();
});

function bulkTransalte(){
	selected = [];
	var data = $('[name="selected[]"]:checked');
	data.each(function(){ selected.push($(this).val());});
	startTranslate();
}

function startTranslate() {
	var select_from = $('#language-from').val();
	var select_to = $('#language-to').val();
	
	if  (select_to == '*' || select_from == '*' || select_from == select_to || selected.length < 1) {
		var html = '<div class="bg_load"></div>';
		html += '<div class="wrapper"><div class="inner">';
		html += '<span>No</span><span>&nbsp;</span><span>th</span><span>ing</span>';
		html += '</div></div>';
		$('body').append(html);
		$(".bg_load").fadeIn("slow");
		$(".wrapper").fadeIn("slow");
		setTimeout(function(){$(".bg_load").remove();$(".wrapper").remove();},1000);
		return;
	}	
	var product_id = selected.pop();
	var html = '<div class="bg_load"></div>';
	html += '<div class="wrapper"><div class="inner">';
	html += '<span>P</span><span>r</span><span>o</span><span>c</span><span>e</span><span>s</span><span>s</span>';
	html += '</div>';
	html += '<div class="inner">';
	html += '<span id="p_id"></span>';
	html += '</div>';
	html += '</div>';
	$('body').append(html);
	$(".bg_load").fadeIn("slow");
	$(".wrapper").fadeIn("slow");

	oneTranslate(select_from,select_to, product_id);
}

//--></script></div>
<style>
.bg_load {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;background: #EEE;display :none}
.wrapper {
    font-size: 20px;
    width: 8em;
    height: 8em;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    border: 1em dashed rgba(138,189,195,0.5);
    box-shadow: 
        inset 0 0 2em rgba(255,255,255,0.3),
        0 0 0 0.7em rgba(255,255,255,0.3);
    animation: rota 3.5s linear infinite;
    color: #444;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 .04em rgba(255,255,255,0.9);
    line-height: 6em;
    display :none
}

.wrapper:before,.wrapper:after {content: "";position: absolute; z-index: -1; border-radius: inherit; box-shadow: inset 0 0 2em rgba(255,255,255,0.3); border: 1em dashed;}

.wrapper:before {border-color: rgba(138,189,195,0.2);top: 0; right: 0; bottom: 0; left: 0;}
.wrapper:after {border-color: rgba(138,189,195,0.4);top: 1em; right: 1em; bottom: 1em; left: 1em; }
.wrapper .inner {width: 100%; height: 100%; animation: rota 3.5s linear reverse infinite;}
.wrapper span {display: inline-block;animation: placeholder 1.5s ease-out infinite;}

.wrapper span:nth-child(1)  { animation-name: loading-1;  }
.wrapper span:nth-child(2)  { animation-name: loading-2;  }
.wrapper span:nth-child(3)  { animation-name: loading-3;  }
.wrapper span:nth-child(4)  { animation-name: loading-4;  }
.wrapper span:nth-child(5)  { animation-name: loading-5;  }
.wrapper span:nth-child(6)  { animation-name: loading-6;  }
.wrapper span:nth-child(7)  { animation-name: loading-7;  }
.wrapper span:nth-child(8)  { animation-name: loading-8;  }

@keyframes rota {to { transform: rotate(360deg); {{ '}}' }}
@keyframes loading-1 {12.5% { opacity: 0.3; {{ '}}' }}
@keyframes loading-2 {25% { opacity: 0.3; {{ '}}' }}
@keyframes loading-3 {37.5% { opacity: 0.3; {{ '}}' }}
@keyframes loading-4 {50% { opacity: 0.3; {{ '}}' }}
@keyframes loading-5 {62.5% { opacity: 0.3; {{ '}}' }}
@keyframes loading-6 {75% { opacity: 0.3; {{ '}}' }}
@keyframes loading-7 {87.5% { opacity: 0.3; {{ '}}' }}
@keyframes loading-8 {100% { opacity: 0.3; {{ '}}' }}
</style>
<script>
 $(document).ready(function(){
	$('#language-from,#language-to').change(function() {
		var elem = $(this);
		localStorage.setItem(elem.attr('id'), elem.val());
	});
	var getFrom =  localStorage.getItem('language-from');
	if (!getFrom) getFrom='*';
	var getTo =    localStorage.getItem('language-to');
	if (!getTo) getTo='*';
	$('#language-from').val(getFrom).change();
	$('#language-to').val(getTo).change();
 });
 
</script>
<script>
$('#view-log').click(function(){
    $.ajax({
        url:'{{ viewLog}}',
        success:function(html){
            if (html){
                $('#log-view').remove();
                $('body').append(html);
                $('#log-view').modal('show');
            }
        }
    })
});
function clearlog(){
    $.ajax({
        url:'{{ clearLog }}',
        success:function(html){
            if (html=='ok'){
                $('#log-view textarea').val('');
            }
        }
    });
}
</script>
  <script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
  <script type="text/javascript">
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
</script>
{{ footer }}