var languages = {};
{% for language in languages %} 
	languages[{{ language['language_id'] }}] = '{{ language['direction'] }}';
{% endfor %} 

	var buutons = '';
	{% for language in languages %}
		{% if language['language_id'] != first_id %}
		buutons += '<button type="button" onclick="yaTraslitAttr(\'{{ first_id }}\',\'{{ language['language_id'] }}\')" data-toggle="tooltip" title="translate Attribute" class="translate-content btn btn-warning"><i class="fa fa-flag-o"></i> {{ language['direction'] }}</button>';
		{% endif %} 
	{% endfor %} 
	$('form[id^="form-"]').prepend('<div class="pull-right">' + buutons + '</div><div class="clearfix"></div>');




function yaTraslitAttr(from,to) {
	var form_element = $('form[id^="form-"] ');
	var text_element = form_element.find('input[type=text], textarea');

	{% for field_name in ya_script_field_name %} 
		if ($('[name="' + '{{ field_name }}' + '[' + from + '][name]"]').length) {
			var field_name = '{{ field_name }}';
		}
	{% endfor %} 	
	
	var element_from =  $('[name="' + field_name + '[' + from + '][name]"]');
	var element_to =  $('[name="' + field_name + '[' + to + '][name]"]');
	if (from) {
		var parameters = {};
		parameters.text = {};
		parameters['name'] = element_from.val();
		$.ajax({
			url: '{{ ya_script_translate }}' + '&from=' + from + '&to=' + to,
			method: 'post',
			data: parameters,
			data_type: 'json',
//			beforeSend: function(){processShow();},
			success: function(json) {
				if (json['success']) {
					for(var name_tag in json['text']) {
						var new_val = decodeHtml(json['text'][name_tag]);
						element_to.val(new_val);
					}
//					processHide();
//					$('#confirm-translate').modal().show();
				}
			}
		});	
	}
}
	var buutons = '';
	{% for language in languages %}
		{% if language['language_id'] != first_id %}
		buutons += '<button type="button" onclick="yaTraslitValue(\'{{ first_id }}\',\'{{ language['language_id'] }}\')" data-toggle="tooltip" title="translate Attribute" class="translate-content btn btn-warning"><i class="fa fa-flag-o"></i> {{ language['direction'] }}</button>';
		{% endif %} 
	{% endfor %}
	
	var id_value;
	{% for field_name in ya_script_field_name_value %}
		id_value = '{{ field_name }}'. replace('_','-'); 
		if ($('#' + id_value).length) {
			$('#' + id_value).before(buutons);
		}
	
	{% endfor %}

function yaTraslitValue(from,to) {
	var element_from =  $('[name$="\[' + from + '\]\[name\]"]');

	var parameters = {};
	element_from.each(function(i,elem){
		let el_to =  $('[name$="\[' + to + '\]\[name\]"]');
		parameters[encodeURIComponent($(el_to[i]).attr('name'))] = $(elem).val();
		
	});
		$.ajax({
			url: '{{ ya_script_translate }}' + '&from=' + from + '&to=' + to,
			method: 'post',
			data: parameters,
			data_type: 'json',
			beforeSend: function(){processShow();},
			success: function(json) {
				if (json['success']) {
					for(var name_tag in json['text']) {
						var element_to = $('[name=' + decodeURIComponent(name_tag).replace(/\[/g,'\\[').replace(/\]/g,'\\]') + ']');
						var new_val = decodeHtml(json['text'][name_tag]);
						element_to.val(new_val);
					}
					processHide();
					$('#confirm-translate').modal().show();
				}
			}
		});	
	
}

function decodeHtml(html) {
    let areaElement = document.createElement("textarea");
    areaElement.innerHTML = html;

    return areaElement.value;
}
function processHide() {
	$(".bg_load").remove();
	$(".wrapper").remove();
}
function processShow() {
	var html = '<div class="bg_load"></div>';
	html += '<div class="wrapper"><div class="inner">';
	html += '<span>P</span><span>r</span><span>o</span><span>c</span><span>e</span><span>s</span><span>s</span>';
	html += '</div>';
	html += '<div class="inner">';
	html += '<span id="p_id"></span>';
	html += '</div>';	html += '</div>';
	$('body').append(html);
	$(".bg_load").fadeIn("slow");
	$(".wrapper").fadeIn("slow");
}