<div class="content-block p-0 overflow-hidden">
    <ul class="ds-account-column-nav fsz-14 list-unstyled p-0">
        {% if logged %}
            <li>
                <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ account }}">
                    <span class="ds-account-column-nav-item-icon d-grid br-7">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path d="M9.46154 0H2.53846C0.901538 0 0 0.901538 0 2.53846V9.46154C0 11.0985 0.901538 12 2.53846 12H9.46154C11.0985 12 12 11.0985 12 9.46154V2.53846C12 0.901538 11.0985 0 9.46154 0ZM9.23077 11.0769H2.76923V10.8431C2.76923 10.3305 2.92618 8.65843 4.94772 8.65843H7.05228C9.07382 8.65843 9.23077 10.3305 9.23077 10.8431V11.0769ZM11.0769 9.46154C11.0769 10.3268 10.792 10.8104 10.1538 10.9914V10.8431C10.1538 9.40923 9.34151 7.73535 7.05228 7.73535H4.94772C2.65849 7.73535 1.84615 9.40984 1.84615 10.8431V10.9914C1.208 10.8104 0.923077 10.3262 0.923077 9.46154V2.53846C0.923077 1.40615 1.40615 0.923077 2.53846 0.923077H9.46154C10.5938 0.923077 11.0769 1.40615 11.0769 2.53846V9.46154ZM6.00496 2.46154C4.73296 2.46154 3.69727 3.49662 3.69727 4.76923C3.69727 6.04185 4.73296 7.07692 6.00496 7.07692C7.27696 7.07692 8.31265 6.04185 8.31265 4.76923C8.31265 3.49662 7.27696 2.46154 6.00496 2.46154ZM6.00496 6.15385C5.24188 6.15385 4.62034 5.53292 4.62034 4.76923C4.62034 4.00554 5.24188 3.38462 6.00496 3.38462C6.76803 3.38462 7.38957 4.00554 7.38957 4.76923C7.38957 5.53292 6.76803 6.15385 6.00496 6.15385Z"
                            fill="#00171F" />
                    </svg>
                    </span>
                    <span class="ds-account-column-nav-item-text dark-text">{{ text_account }}</span>
                </a>
            </li>
            <li>
                <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ edit }}">
                    <span class="ds-account-column-nav-item-icon d-grid br-7">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewbox="0 0 12 13" fill="none">
                            <path d="M4.54187 5.0657C5.91397 5.0657 7.02968 3.9494 7.02968 2.57789C7.02968 1.20638 5.91397 0.0900879 4.54187 0.0900879C3.16978 0.0900879 2.05407 1.20638 2.05407 2.57789C2.05407 3.9494 3.16978 5.0657 4.54187 5.0657ZM4.54187 0.968137C5.42987 0.968137 6.15163 1.68989 6.15163 2.57789C6.15163 3.46589 5.42987 4.18765 4.54187 4.18765C3.65387 4.18765 2.93212 3.46589 2.93212 2.57789C2.93212 1.68989 3.65387 0.968137 4.54187 0.968137ZM0.878049 9.32132C0.878049 10.2362 1.272 10.6267 2.19512 10.6267H4.53659C4.77893 10.6267 4.97561 10.8234 4.97561 11.0657C4.97561 11.308 4.77893 11.5047 4.53659 11.5047H2.19512C0.779707 11.5047 0 10.7291 0 9.32132C0 7.76307 0.881561 5.94375 3.36585 5.94375H5.70732C6.20605 5.94375 6.65153 6.01636 7.03261 6.15919C7.25973 6.24465 7.37445 6.49749 7.28899 6.72462C7.20353 6.95174 6.95061 7.06646 6.72349 6.981C6.44251 6.87505 6.1001 6.82179 5.70732 6.82179H3.36585C1.05776 6.82179 0.878049 8.73537 0.878049 9.32132ZM11.6997 6.89554L11.0476 6.244C10.8545 6.05025 10.5969 5.94375 10.3235 5.94375C10.3229 5.94375 10.3229 5.94375 10.3224 5.94375C10.0478 5.94375 9.79081 6.05146 9.59823 6.24522L5.98185 9.87796C5.89931 9.9605 5.85366 10.0717 5.85366 10.1876V11.6511C5.85366 11.8934 6.05034 12.0901 6.29268 12.0901H7.7561C7.872 12.0901 7.98384 12.0438 8.06579 11.9625L11.6974 8.34666C11.8923 8.15349 12 7.89592 12 7.62139C12.0006 7.34685 11.8935 7.08988 11.6997 6.89554ZM7.5746 11.212H6.73171V10.3691L9.14455 7.94508L9.99802 8.79919L7.5746 11.212ZM11.0786 7.72385L10.6209 8.17981L9.76451 7.32284L10.2205 6.86453C10.2568 6.82765 10.3007 6.82179 10.3235 6.82179C10.3463 6.82179 10.3897 6.82765 10.4271 6.86453L11.0792 7.51663C11.1167 7.55351 11.122 7.59743 11.122 7.61967C11.122 7.64308 11.1161 7.68639 11.0786 7.72385Z" fill="#00171F"/>
                        </svg>
                    </span>
                    <span class="ds-account-column-nav-item-text dark-text">{{ text_edit }}</span>
                </a>
            </li>
            <li>
                <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ password }}">
                    <span class="ds-account-column-nav-item-icon d-grid br-7">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 10 12" fill="none">
                        <path
                            d="M7.92307 3.72551V2.92308C7.92307 1.31138 6.61169 0 5 0C3.3883 0 2.07692 1.31138 2.07692 2.92308V3.72551C0.884305 3.88366 0.230766 4.67446 0.230766 6V9.69231C0.230766 11.1803 1.05046 12 2.53846 12H7.46154C8.94954 12 9.76923 11.1803 9.76923 9.69231V6C9.76923 4.67508 9.11569 3.88428 7.92307 3.72551ZM5 0.923077C6.10277 0.923077 7 1.82031 7 2.92308V3.69231H3V2.92308C3 1.82031 3.89723 0.923077 5 0.923077ZM8.84615 9.69231C8.84615 10.6628 8.432 11.0769 7.46154 11.0769H2.53846C1.568 11.0769 1.15384 10.6628 1.15384 9.69231V6C1.15384 5.02954 1.568 4.61538 2.53846 4.61538H7.46154C8.432 4.61538 8.84615 5.02954 8.84615 6V9.69231ZM5.78155 7.23077C5.78155 7.48431 5.65107 7.6985 5.46154 7.83819V9.07692C5.46154 9.33169 5.25477 9.53846 5 9.53846C4.74523 9.53846 4.53846 9.33169 4.53846 9.07692V7.82272C4.36123 7.68179 4.23993 7.47385 4.23993 7.23077C4.23993 6.80615 4.58154 6.46154 5.00616 6.46154H5.01232C5.43693 6.46154 5.78155 6.80615 5.78155 7.23077Z"
                            fill="#00171F" />
                    </svg>
                    </span>
                    <span class="ds-account-column-nav-item-text dark-text">{{ text_password }}</span>
                </a>
            </li>
            <li>
                <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ address }}">
                    <span class="ds-account-column-nav-item-icon d-grid br-7">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path
                            d="M11.9674 6.31688C11.9674 6.31381 11.9692 6.31136 11.9692 6.30828C11.9692 6.29967 11.9649 6.2929 11.9643 6.28428C11.9576 6.24244 11.9483 6.20061 11.9391 6.15876C11.9348 6.14646 11.9336 6.13354 11.9286 6.12185C11.9034 6.01477 11.8775 5.90768 11.8369 5.80245L11.1982 4.2247C10.9158 3.50905 10.6235 2.7694 9.05799 2.7694H7.69192V1.69253C7.69192 0.928875 7.07042 0.307983 6.30738 0.307983H1.38455C0.621507 0.307983 0 0.928875 0 1.69253V8.46142C0 9.17831 0.549483 9.76226 1.24791 9.83241C1.24237 9.88841 1.23071 9.94258 1.23071 9.99981C1.23071 10.9327 1.98944 11.692 2.92293 11.692C3.85642 11.692 4.61515 10.9327 4.61515 9.99981C4.61515 9.94689 4.60406 9.89704 4.59975 9.84597H7.40025C7.39532 9.89704 7.38485 9.94689 7.38485 9.99981C7.38485 10.9327 8.14358 11.692 9.07707 11.692C10.0106 11.692 10.7693 10.9327 10.7693 9.99981C10.7693 9.94258 10.7582 9.88779 10.7521 9.83241C11.4505 9.76226 12 9.17831 12 8.46142V6.66456C12 6.54826 11.9846 6.43257 11.9674 6.31688ZM9.05859 3.69303C9.99578 3.69303 10.0832 3.91272 10.3417 4.56746L10.8591 5.84677H7.69252V3.69303H9.05859ZM2.92353 10.7696C2.49955 10.7696 2.15434 10.4244 2.15434 10.0004C2.15434 9.57643 2.49955 9.23121 2.92353 9.23121C3.34751 9.23121 3.69272 9.57643 3.69272 10.0004C3.69272 10.4244 3.34751 10.7696 2.92353 10.7696ZM9.07707 10.7696C8.65309 10.7696 8.30788 10.4244 8.30788 10.0004C8.30788 9.57643 8.65309 9.23121 9.07707 9.23121C9.50105 9.23121 9.84626 9.57643 9.84626 10.0004C9.84626 10.4244 9.50105 10.7696 9.07707 10.7696ZM10.6155 8.92354H10.3718C10.061 8.55063 9.59951 8.30818 9.07707 8.30818C8.55463 8.30818 8.09312 8.55063 7.78236 8.92354H4.21764C3.90688 8.55063 3.44537 8.30818 2.92293 8.30818C2.4005 8.30818 1.93898 8.55063 1.62822 8.92354H1.38455C1.1304 8.92354 0.923031 8.71678 0.923031 8.46202V6.7698H4.76899C5.02375 6.7698 5.23051 6.56304 5.23051 6.30828C5.23051 6.05353 5.02375 5.84677 4.76899 5.84677H0.923031V1.69313C0.923031 1.43837 1.1304 1.23162 1.38455 1.23162H6.30738C6.56152 1.23162 6.76889 1.43837 6.76889 1.69313V6.7698H11.0764V8.46202C11.077 8.71678 10.8696 8.92354 10.6155 8.92354Z"
                            fill="#00171F" />
                    </svg>
                    </span>
                    <span class="ds-account-column-nav-item-text dark-text">{{ text_address }}</span>
                </a>
            </li>
            <li>
                <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ wishlist }}">
                    <span class="ds-account-column-nav-item-icon d-grid br-7">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path
                            d="M6.0007 11.6933C5.93545 11.6933 5.87018 11.6798 5.80925 11.6521C5.60797 11.5603 0.87096 9.36357 0.111409 5.45133C-0.182194 3.93776 0.112643 2.46112 0.899893 1.50214C1.53696 0.725358 2.45282 0.312334 3.54906 0.306795C3.5546 0.306795 3.56014 0.306795 3.56507 0.306795C4.8158 0.306795 5.57846 1.01897 6.0001 1.62526C6.42357 1.01651 7.19232 0.301255 8.45105 0.306795C9.54791 0.312334 10.4644 0.725358 11.1021 1.50214C11.8881 2.46051 12.1823 3.93713 11.8881 5.45193C11.1298 9.36417 6.39214 11.5616 6.19087 11.6527C6.13116 11.6798 6.06594 11.6933 6.0007 11.6933ZM3.56447 1.22947C3.56077 1.22947 3.55771 1.22947 3.55402 1.22947C2.73046 1.23317 2.07802 1.52183 1.61392 2.0875C0.999013 2.83658 0.776799 4.02824 1.01808 5.27528C1.6059 8.3061 5.13466 10.2758 6.0007 10.7177C6.86673 10.2758 10.3955 8.3061 10.9827 5.27528C11.2252 4.02762 11.003 2.83597 10.3894 2.0875C9.92525 1.52245 9.27278 1.23438 8.44737 1.23007C8.44368 1.23007 8.44001 1.23007 8.43693 1.23007C6.97692 1.23007 6.4593 2.69318 6.43837 2.75535C6.37435 2.94185 6.19826 3.06863 6.0013 3.06863C6.00007 3.06863 5.99943 3.06863 5.99882 3.06863C5.80124 3.06802 5.62521 2.94184 5.56242 2.75411C5.54211 2.69256 5.02386 1.22947 3.56447 1.22947Z"
                            fill="#00171F" />
                    </svg>
                    </span>
                    <span class="ds-account-column-nav-item-text dark-text">{{ text_wishlist }}</span>
                </a>
            </li>
            <li>
                <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ order }}">
                    <span class="ds-account-column-nav-item-icon d-grid br-7">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path
                            d="M4.96197 11.25C4.96197 11.664 4.62595 12 4.21193 12C3.79851 12 3.45889 11.664 3.45889 11.25C3.45889 10.8359 3.7919 10.4999 4.20592 10.4999H4.21193C4.62595 10.4999 4.96197 10.8359 4.96197 11.25ZM9.01217 10.4999H9.00616C8.59214 10.4999 8.25913 10.8359 8.25913 11.25C8.25913 11.664 8.59815 12 9.01217 12C9.42619 12 9.76221 11.664 9.76221 11.25C9.76221 10.8359 9.42619 10.4999 9.01217 10.4999ZM11.8233 3.74479L11.2149 7.44457C11.0571 8.31222 10.6646 9.29986 9.00016 9.29986H4.04031C3.22487 9.29986 2.52221 8.69084 2.407 7.8832L1.50095 1.54388C1.44815 1.17666 1.12957 0.900045 0.758751 0.900045H0.599734C0.351322 0.900045 0.149712 0.698435 0.149712 0.450023C0.149712 0.20161 0.351322 0 0.599734 0H0.759337C1.57478 0 2.27744 0.609026 2.39265 1.41667L2.4478 1.80009H10.2002C10.691 1.80009 11.1531 2.0161 11.4675 2.39292C11.7813 2.76913 11.9115 3.26236 11.8233 3.74479ZM10.7756 2.96895C10.6328 2.79794 10.4228 2.69953 10.1996 2.69953H2.57562L3.29804 7.75599C3.35084 8.12321 3.66949 8.39982 4.04031 8.39982H9.00016C9.95841 8.39982 10.1918 8.0422 10.328 7.29156L10.9365 3.59117C10.9779 3.36436 10.9184 3.13996 10.7756 2.96895ZM7.48206 5.53168L7.35007 5.66368V4.34962C7.35007 4.1012 7.14846 3.89959 6.90005 3.89959C6.65164 3.89959 6.45003 4.1012 6.45003 4.34962V5.66308L6.31804 5.53107C6.14223 5.35526 5.8572 5.35526 5.68139 5.53107C5.50558 5.70688 5.50558 5.9919 5.68139 6.16771L6.58143 7.06775C6.62283 7.10915 6.67265 7.14216 6.72785 7.16496C6.78305 7.18776 6.84125 7.19976 6.90005 7.19976C6.95885 7.19976 7.01705 7.18776 7.07225 7.16496C7.12746 7.14216 7.17727 7.10915 7.21867 7.06775L8.11872 6.16771C8.29453 5.9919 8.29453 5.70688 8.11872 5.53107C7.94291 5.35526 7.65787 5.35587 7.48206 5.53168Z"
                            fill="#00171F" />
                    </svg>
                    </span>
                    <span class="ds-account-column-nav-item-text dark-text">{{ text_order }}</span>
                </a>
            </li>
            {% if oct_stock_notifier_status is defined and oct_stock_notifier_status %}
                <li>
                    <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ oct_stock_notifier }}">
                        <span class="ds-account-column-nav-item-icon d-grid br-7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path
                            d="M9.69231 11.0769H2.30769C0.819692 11.0769 0 10.2572 0 8.76925V3.23079C0 1.74279 0.819692 0.923096 2.30769 0.923096H9.69231C11.1803 0.923096 12 1.74279 12 3.23079V8.76925C12 10.2572 11.1803 11.0769 9.69231 11.0769ZM2.30769 1.84617C1.33723 1.84617 0.923077 2.26033 0.923077 3.23079V8.76925C0.923077 9.73971 1.33723 10.1539 2.30769 10.1539H9.69231C10.6628 10.1539 11.0769 9.73971 11.0769 8.76925V3.23079C11.0769 2.26033 10.6628 1.84617 9.69231 1.84617H2.30769ZM6.63326 6.41786L9.65595 4.21971C9.8621 4.07017 9.90767 3.78095 9.75751 3.57479C9.60797 3.36925 9.32007 3.32248 9.11268 3.47325L6.08984 5.6714C6.03569 5.71079 5.96371 5.71079 5.90956 5.6714L2.88672 3.47325C2.67872 3.32248 2.39143 3.36987 2.24189 3.57479C2.09173 3.78095 2.1373 4.06955 2.34345 4.21971L5.36614 6.41848C5.55567 6.55632 5.77786 6.62463 5.9994 6.62463C6.22094 6.62463 6.44434 6.55571 6.63326 6.41786Z"
                            fill="#00171F" />
                    </svg>
                        </span>
                        <span class="ds-account-column-nav-item-text dark-text">{{ oct_stock_notifier_text }}</span>
                    </a>
                </li>
            {% endif %}
            {% if download_view is defined and download_view %}
                <li>
                    <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ download }}">
                        <span class="ds-account-column-nav-item-icon d-grid br-7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path
                            d="M10.9416 3.82769L7.24925 0.135385C7.16248 0.0486161 7.04554 0 6.92308 0H3.23077C1.74277 0 0.92308 0.819692 0.92308 2.30769V9.69231C0.92308 11.1803 1.74277 12 3.23077 12H8.76923C10.2572 12 11.0769 11.1803 11.0769 9.69231V4.15385C11.0769 4.03138 11.0283 3.91385 10.9416 3.82769ZM7.38462 1.576L9.50091 3.69231H8.76923C7.79877 3.69231 7.38462 3.27815 7.38462 2.30769V1.576ZM8.76923 11.0769H3.23077C2.26031 11.0769 1.84616 10.6628 1.84616 9.69231V2.30769C1.84616 1.33723 2.26031 0.923077 3.23077 0.923077H6.46154V2.30769C6.46154 3.79569 7.28123 4.61538 8.76923 4.61538H10.1538V9.69231C10.1538 10.6628 9.7397 11.0769 8.76923 11.0769ZM6.63387 7.52C6.81418 7.70031 6.81418 7.99262 6.63387 8.17293L5.4031 9.4037C5.36064 9.44616 5.30947 9.48 5.25286 9.50338C5.19624 9.52677 5.13663 9.53908 5.07633 9.53908C5.01602 9.53908 4.95626 9.52677 4.89964 9.50338C4.84303 9.48 4.79201 9.44616 4.74955 9.4037L3.51878 8.17293C3.33848 7.99262 3.33848 7.70031 3.51878 7.52C3.69909 7.33969 3.99142 7.33969 4.17173 7.52L4.61479 7.96308V6C4.61479 5.74523 4.82156 5.53846 5.07633 5.53846C5.3311 5.53846 5.53786 5.74523 5.53786 6V7.96246L5.98092 7.51938C6.16185 7.33969 6.45356 7.33969 6.63387 7.52Z"
                            fill="#00171F" />
                    </svg>
                        </span>
                        <span class="ds-account-column-nav-item-text dark-text">{{ text_download }}</span>
                    </a>
                </li>
            {% endif %}
            {% if recurring_view is defined and recurring_view %}
                <li>
                    <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ recurring }}">
                        <span class="ds-account-column-nav-item-icon d-grid br-7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                        <path
                            d="M6.55812 7.93026H2.09302C1.21283 7.93026 0.837206 7.55463 0.837206 6.67445V3.74423H10.0465V3.88376C10.0465 4.11483 10.234 4.30236 10.4651 4.30236C10.6961 4.30236 10.8837 4.11483 10.8837 3.88376V2.20935C10.8837 0.859772 10.1402 0.116333 8.79067 0.116333H2.09302C0.743439 0.116333 0 0.859772 0 2.20935V6.67445C0 8.02403 0.743439 8.76746 2.09302 8.76746H6.55812C6.78918 8.76746 6.97672 8.57993 6.97672 8.34886C6.97672 8.11779 6.78918 7.93026 6.55812 7.93026ZM2.09302 0.953539H8.79067C9.67085 0.953539 10.0465 1.32917 10.0465 2.20935V2.90702H0.837206V2.20935C0.837206 1.32917 1.21283 0.953539 2.09302 0.953539ZM4.32557 5.69771C4.55663 5.69771 4.74417 5.88524 4.74417 6.11631C4.74417 6.34738 4.55663 6.53491 4.32557 6.53491H2.65115C2.42008 6.53491 2.23255 6.34738 2.23255 6.11631C2.23255 5.88524 2.42008 5.69771 2.65115 5.69771H4.32557ZM11.9681 8.74682C12.0329 8.9031 11.9972 9.08339 11.8772 9.20283L11.319 9.76097C11.2376 9.84245 11.1304 9.88374 11.0232 9.88374C10.9161 9.88374 10.8089 9.84301 10.7274 9.76097C10.6096 9.6432 10.5767 9.47239 10.6286 9.3256H9.06973C8.37709 9.3256 7.81392 8.76244 7.81392 8.06979V7.79072C7.81392 7.55966 8.00146 7.37212 8.23253 7.37212C8.4636 7.37212 8.65113 7.55966 8.65113 7.79072V8.06979C8.65113 8.30086 8.83867 8.4884 9.06973 8.4884H11.5814C11.7505 8.4884 11.9034 8.59054 11.9681 8.74682ZM12 7.23259V7.51166C12 7.74272 11.8124 7.93026 11.5814 7.93026C11.3503 7.93026 11.1627 7.74272 11.1627 7.51166V7.23259C11.1627 7.00152 10.9752 6.81398 10.7441 6.81398H8.23253C8.06341 6.81398 7.91049 6.71184 7.84574 6.55556C7.781 6.39928 7.8167 6.21899 7.9367 6.09955L8.49484 5.54141C8.65837 5.37788 8.9235 5.37788 9.08704 5.54141C9.20481 5.65918 9.23774 5.82999 9.18583 5.97678H10.7441C11.4368 5.97678 12 6.53994 12 7.23259Z"
                            fill="#00171F" />
                    </svg>
                        </span>
                        <span class="ds-account-column-nav-item-text dark-text">{{ text_recurring }}</span>
                    </a>
                </li>
            {% endif %}
            {% if reward_view is defined and reward_view %}
                <li>
                    <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ reward }}">
                        <span class="ds-account-column-nav-item-icon d-grid br-7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path
                            d="M9.07724 0H2.92276C1.43461 0 0.61483 0.819777 0.61483 2.30793V10.0755C0.61483 10.486 0.843172 10.8553 1.21059 11.0387C1.57679 11.2221 2.00947 11.1833 2.33811 10.9371L3.17384 10.31C3.35663 10.1734 3.61639 10.1912 3.77764 10.3525L5.02086 11.595C5.29043 11.8652 5.6455 12 6 12C6.3545 12 6.70896 11.8652 6.97914 11.595L8.22236 10.3525C8.38422 10.1912 8.64455 10.1727 8.82549 10.3094L9.66189 10.9371C9.99054 11.1833 10.4226 11.2221 10.7894 11.0387C11.1568 10.8553 11.3852 10.486 11.3852 10.0755V2.30793C11.3852 0.819777 10.5654 0 9.07724 0ZM10.462 10.0755C10.462 10.1586 10.4085 10.1974 10.3771 10.2134C10.3445 10.2294 10.2829 10.2491 10.2158 10.1986L9.37881 9.57083C8.8329 9.16094 8.05317 9.21573 7.56942 9.69947L6.32621 10.942C6.15204 11.1162 5.84798 11.1162 5.67319 10.942L4.42998 9.69885C4.16287 9.43236 3.80653 9.29573 3.44896 9.29573C3.15723 9.29573 2.8655 9.38619 2.61932 9.57021L1.78292 10.198C1.71707 10.2484 1.65431 10.2281 1.62169 10.2127C1.59031 10.1967 1.5368 10.158 1.5368 10.0749V2.30793C1.5368 1.33737 1.951 0.923172 2.92156 0.923172H9.07604C10.0466 0.923172 10.4608 1.33737 10.4608 2.30793V10.0755H10.462ZM7.86483 4.17274L4.78759 7.24998C4.69773 7.33983 4.57955 7.38538 4.46138 7.38538C4.34321 7.38538 4.22503 7.34045 4.13518 7.24998C3.95485 7.06965 3.95485 6.77731 4.13518 6.59699L7.21242 3.51974C7.39274 3.33942 7.6851 3.33942 7.86543 3.51974C8.04514 3.70007 8.04515 3.99303 7.86483 4.17274ZM3.85517 3.84655C3.85517 3.50682 4.12781 3.2311 4.46754 3.2311H4.4737C4.81404 3.2311 5.08915 3.50682 5.08915 3.84655C5.08915 4.18628 4.81404 4.462 4.4737 4.462C4.13397 4.462 3.85517 4.18628 3.85517 3.84655ZM8.16639 6.92379C8.16639 7.26352 7.89129 7.53924 7.55094 7.53924C7.21122 7.53924 6.93241 7.26352 6.93241 6.92379C6.93241 6.58406 7.20506 6.30834 7.54478 6.30834H7.55094C7.89067 6.30834 8.16639 6.58406 8.16639 6.92379Z"
                            fill="#00171F" />
                    </svg>
                        </span>
                        <span class="ds-account-column-nav-item-text dark-text">{{ text_reward }}</span>
                    </a>
                </li>
            {% endif %}
            {% if return_view is defined and return_view %}
                <li>
                    <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ return }}">
                        <span class="ds-account-column-nav-item-icon d-grid br-7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path
                            d="M9.46154 0H2.53846C0.901538 0 0 0.901538 0 2.53846V9.46154C0 11.0985 0.901538 12 2.53846 12H9.46154C11.0985 12 12 11.0985 12 9.46154V2.53846C12 0.901538 11.0985 0 9.46154 0ZM11.0769 9.46154C11.0769 10.5938 10.5938 11.0769 9.46154 11.0769H2.53846C1.40615 11.0769 0.923077 10.5938 0.923077 9.46154V2.53846C0.923077 1.40615 1.40615 0.923077 2.53846 0.923077H9.46154C10.5938 0.923077 11.0769 1.40615 11.0769 2.53846V9.46154ZM9.23077 6V6.92308C9.23077 7.68677 8.60923 8.30769 7.84615 8.30769H4.34525L4.48062 8.44306C4.66093 8.62337 4.66093 8.9157 4.48062 9.096C4.39077 9.18585 4.2726 9.23137 4.15445 9.23137C4.03629 9.23137 3.91812 9.18647 3.82828 9.096L2.9052 8.17293C2.86274 8.13047 2.82897 8.07945 2.80559 8.02284C2.75882 7.91022 2.75882 7.78284 2.80559 7.67022C2.82897 7.61361 2.86274 7.56244 2.9052 7.51998L3.82828 6.59691C4.00858 6.4166 4.30091 6.4166 4.48122 6.59691C4.66153 6.77721 4.66153 7.06954 4.48122 7.24985L4.34585 7.38522H7.84615C8.10031 7.38522 8.30769 7.17845 8.30769 6.92368V6.0006C8.30769 5.74583 8.51446 5.53906 8.76923 5.53906C9.024 5.53906 9.23077 5.74523 9.23077 6ZM9.19501 3.97716C9.24178 4.08978 9.24178 4.21716 9.19501 4.32978C9.17163 4.38639 9.13786 4.43756 9.0954 4.48002L8.17233 5.4031C8.08248 5.49294 7.96431 5.53846 7.84615 5.53846C7.728 5.53846 7.60983 5.49356 7.51998 5.4031C7.33967 5.22279 7.33967 4.93046 7.51998 4.75015L7.65535 4.61478H4.15385C3.89969 4.61478 3.69231 4.82155 3.69231 5.07632V5.9994C3.69231 6.25417 3.48554 6.46094 3.23077 6.46094C2.976 6.46094 2.76923 6.25417 2.76923 5.9994V5.07632C2.76923 4.31263 3.39077 3.69171 4.15385 3.69171H7.65475L7.51938 3.55634C7.33907 3.37603 7.33907 3.0837 7.51938 2.9034C7.69969 2.72309 7.99202 2.72309 8.17233 2.9034L9.0954 3.82647C9.13786 3.87016 9.17163 3.92116 9.19501 3.97716Z"
                            fill="#00171F" />
                    </svg>
                        </span>
                        <span class="ds-account-column-nav-item-text dark-text">{{ text_return }}</span>
                    </a>
                </li>
            {% endif %}
            {% if transaction_view is defined and transaction_view %}
                <li>
                    <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ transaction }}">
                        <span class="ds-account-column-nav-item-icon d-grid br-7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path
                            d="M10.1434 2.77973C10.0898 1.58465 9.39262 0.923096 8.15385 0.923096H2C0.710154 0.923096 0 1.63325 0 2.9231V7.23079C0 8.46956 0.661556 9.16677 1.85663 9.22031C1.91017 10.4154 2.60738 11.0769 3.84615 11.0769H10C11.2898 11.0769 12 10.3668 12 9.07694V4.76925C12 3.53048 11.3384 2.83327 10.1434 2.77973ZM0.923077 7.23079V2.9231C0.923077 2.14833 1.22523 1.84617 2 1.84617H8.15385C8.92862 1.84617 9.23077 2.14833 9.23077 2.9231V7.23079C9.23077 8.00556 8.92862 8.30771 8.15385 8.30771H2C1.22523 8.30771 0.923077 8.00556 0.923077 7.23079ZM11.0769 9.07694C11.0769 9.85171 10.7754 10.1539 10 10.1539H3.84615C3.12677 10.1539 2.81846 9.88802 2.77723 9.23079H8.15385C9.44369 9.23079 10.1538 8.52063 10.1538 7.23079V3.70033C10.8117 3.74156 11.0769 4.04925 11.0769 4.76925V9.07694ZM2 5.69233C1.66031 5.69233 1.38462 5.41663 1.38462 5.07694C1.38462 4.73725 1.66031 4.46156 2 4.46156C2.33969 4.46156 2.61538 4.73725 2.61538 5.07694C2.61538 5.41663 2.33969 5.69233 2 5.69233ZM7.53846 5.07694C7.53846 4.73725 7.81415 4.46156 8.15385 4.46156C8.49354 4.46156 8.76923 4.73725 8.76923 5.07694C8.76923 5.41663 8.49354 5.69233 8.15385 5.69233C7.81415 5.69233 7.53846 5.41663 7.53846 5.07694ZM5.07692 7.07694C6.17969 7.07694 7.07692 6.17971 7.07692 5.07694C7.07692 3.97417 6.17969 3.07694 5.07692 3.07694C3.97415 3.07694 3.07692 3.97417 3.07692 5.07694C3.07692 6.17971 3.97415 7.07694 5.07692 7.07694ZM5.07692 4.00002C5.67077 4.00002 6.15385 4.4831 6.15385 5.07694C6.15385 5.67079 5.67077 6.15386 5.07692 6.15386C4.48308 6.15386 4 5.67079 4 5.07694C4 4.4831 4.48308 4.00002 5.07692 4.00002Z"
                            fill="#00171F" />
                    </svg>
                        </span>
                        <span class="ds-account-column-nav-item-text dark-text">{{ text_transaction }}</span>
                    </a>
                </li>
            {% endif %}
            {% if newsletter_view is defined and newsletter_view %}
                <li>
                    <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ newsletter }}">
                        <span class="ds-account-column-nav-item-icon d-grid br-7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path
                            d="M9.69231 11.0769H2.30769C0.819692 11.0769 0 10.2572 0 8.76925V3.23079C0 1.74279 0.819692 0.923096 2.30769 0.923096H9.69231C11.1803 0.923096 12 1.74279 12 3.23079V8.76925C12 10.2572 11.1803 11.0769 9.69231 11.0769ZM2.30769 1.84617C1.33723 1.84617 0.923077 2.26033 0.923077 3.23079V8.76925C0.923077 9.73971 1.33723 10.1539 2.30769 10.1539H9.69231C10.6628 10.1539 11.0769 9.73971 11.0769 8.76925V3.23079C11.0769 2.26033 10.6628 1.84617 9.69231 1.84617H2.30769ZM6.63326 6.41786L9.65595 4.21971C9.8621 4.07017 9.90767 3.78095 9.75751 3.57479C9.60797 3.36925 9.32007 3.32248 9.11268 3.47325L6.08984 5.6714C6.03569 5.71079 5.96371 5.71079 5.90956 5.6714L2.88672 3.47325C2.67872 3.32248 2.39143 3.36987 2.24189 3.57479C2.09173 3.78095 2.1373 4.06955 2.34345 4.21971L5.36614 6.41848C5.55567 6.55632 5.77786 6.62463 5.9994 6.62463C6.22094 6.62463 6.44434 6.55571 6.63326 6.41786Z"
                            fill="#00171F" />
                    </svg>
                        </span>
                        <span class="ds-account-column-nav-item-text dark-text">{{ text_newsletter }}</span>
                    </a>
                </li>
            {% endif %}
            {% if affiliate_view is defined and affiliate_view %}
                {% if not tracking %}
                    <li>
                        <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ affiliate }}">
                            <span class="ds-account-column-nav-item-icon d-grid br-7">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                    <path
                                        d="M9.69231 1.84615H8.92308V1.07692C8.92308 0.483077 8.44 0 7.84615 0H4.15385C3.56 0 3.07692 0.483077 3.07692 1.07692V1.84615H2.30769C0.819692 1.84615 0 2.66585 0 4.15385V4.22709V5.54034V9.69231C0 11.1803 0.819692 12 2.30769 12H9.69231C11.1803 12 12 11.1803 12 9.69231V5.54034V4.22709V4.15385C12 2.66585 11.1803 1.84615 9.69231 1.84615ZM4 1.07692C4 0.992 4.06892 0.923077 4.15385 0.923077H7.84615C7.93108 0.923077 8 0.992 8 1.07692V1.84615H4V1.07692ZM0.923077 4.15385C0.923077 3.18338 1.33723 2.76923 2.30769 2.76923H9.69231C10.6628 2.76923 11.0769 3.18338 11.0769 4.15385V4.22709V5.54034C11.0769 5.72557 10.9717 5.88735 10.8025 5.96304C10.2702 6.20058 9.36308 6.5391 8.06646 6.80371C8.00308 6.81663 7.93477 6.76802 7.89785 6.71387C7.45169 6.04741 6.74277 5.64987 6 5.64987C5.25723 5.64987 4.54831 6.04741 4.10215 6.71387C4.06585 6.76864 4 6.81786 3.93354 6.80371C2.63754 6.5391 1.72985 6.20058 1.19754 5.96304C1.02831 5.88735 0.923077 5.72557 0.923077 5.54034V4.22709V4.15385ZM9.69231 11.0769H2.30769C1.33723 11.0769 0.923077 10.6628 0.923077 9.69231V6.84923C1.50769 7.10216 2.44493 7.44125 3.74831 7.70771C4.17293 7.79386 4.61477 7.60618 4.86892 7.22649C5.14339 6.81664 5.56615 6.57234 6 6.57234C6.43385 6.57234 6.85662 6.81664 7.13047 7.22649C7.34339 7.54464 7.68677 7.72859 8.04308 7.72859C8.11201 7.72859 8.18154 7.72186 8.25046 7.70771C9.55446 7.44125 10.4917 7.10216 11.0763 6.84923V9.69231C11.0769 10.6628 10.6628 11.0769 9.69231 11.0769ZM6.6277 7.84615C6.6277 8.18585 6.352 8.46154 6.01231 8.46154C5.67262 8.46154 5.39385 8.18585 5.39385 7.84615C5.39385 7.50646 5.66584 7.23077 6.00615 7.23077H6.01231C6.352 7.23077 6.6277 7.50646 6.6277 7.84615Z"
                                        fill="#00171F" />
                                </svg>
                            </span>
                            <span class="ds-account-column-nav-item-text dark-text">{{ text_oct_affiliate }}</span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ affiliate }}">
                            <span class="ds-account-column-nav-item-icon d-grid br-7">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                    <path
                                        d="M9.69231 1.84615H8.92308V1.07692C8.92308 0.483077 8.44 0 7.84615 0H4.15385C3.56 0 3.07692 0.483077 3.07692 1.07692V1.84615H2.30769C0.819692 1.84615 0 2.66585 0 4.15385V4.22709V5.54034V9.69231C0 11.1803 0.819692 12 2.30769 12H9.69231C11.1803 12 12 11.1803 12 9.69231V5.54034V4.22709V4.15385C12 2.66585 11.1803 1.84615 9.69231 1.84615ZM4 1.07692C4 0.992 4.06892 0.923077 4.15385 0.923077H7.84615C7.93108 0.923077 8 0.992 8 1.07692V1.84615H4V1.07692ZM0.923077 4.15385C0.923077 3.18338 1.33723 2.76923 2.30769 2.76923H9.69231C10.6628 2.76923 11.0769 3.18338 11.0769 4.15385V4.22709V5.54034C11.0769 5.72557 10.9717 5.88735 10.8025 5.96304C10.2702 6.20058 9.36308 6.5391 8.06646 6.80371C8.00308 6.81663 7.93477 6.76802 7.89785 6.71387C7.45169 6.04741 6.74277 5.64987 6 5.64987C5.25723 5.64987 4.54831 6.04741 4.10215 6.71387C4.06585 6.76864 4 6.81786 3.93354 6.80371C2.63754 6.5391 1.72985 6.20058 1.19754 5.96304C1.02831 5.88735 0.923077 5.72557 0.923077 5.54034V4.22709V4.15385ZM9.69231 11.0769H2.30769C1.33723 11.0769 0.923077 10.6628 0.923077 9.69231V6.84923C1.50769 7.10216 2.44493 7.44125 3.74831 7.70771C4.17293 7.79386 4.61477 7.60618 4.86892 7.22649C5.14339 6.81664 5.56615 6.57234 6 6.57234C6.43385 6.57234 6.85662 6.81664 7.13047 7.22649C7.34339 7.54464 7.68677 7.72859 8.04308 7.72859C8.11201 7.72859 8.18154 7.72186 8.25046 7.70771C9.55446 7.44125 10.4917 7.10216 11.0763 6.84923V9.69231C11.0769 10.6628 10.6628 11.0769 9.69231 11.0769ZM6.6277 7.84615C6.6277 8.18585 6.352 8.46154 6.01231 8.46154C5.67262 8.46154 5.39385 8.18585 5.39385 7.84615C5.39385 7.50646 5.66584 7.23077 6.00615 7.23077H6.01231C6.352 7.23077 6.6277 7.50646 6.6277 7.84615Z"
                                        fill="#00171F" />
                                </svg>
                            </span>
                            <span class="ds-account-column-nav-item-text dark-text">{{ text_oct_affiliate }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ tracking }}">
                            <span class="ds-account-column-nav-item-icon d-grid br-7">
                                <i class="fas fa-code"></i>
                            </span>
                            <span class="ds-account-column-nav-item-text dark-text">{{ text_oct_tracking }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ logout }}">
                    <span class="ds-account-column-nav-item-icon d-grid br-7">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path
                            d="M8.30811 9.07714V9.69255C8.30811 11.1806 7.48838 12.0004 6.0003 12.0004H2.30781C0.819734 12.0004 0 11.1806 0 9.69255V2.30756C0 0.819489 0.819734 -0.000244141 2.30781 -0.000244141H6.0003C7.48838 -0.000244141 8.30811 0.819489 8.30811 2.30756V2.92298C8.30811 3.17776 8.10133 3.38454 7.84655 3.38454C7.59177 3.38454 7.38499 3.17776 7.38499 2.92298V2.30756C7.38499 1.33705 6.97081 0.922879 6.0003 0.922879H2.30781C1.3373 0.922879 0.923124 1.33705 0.923124 2.30756V9.69255C0.923124 10.6631 1.3373 11.0772 2.30781 11.0772H6.0003C6.97081 11.0772 7.38499 10.6631 7.38499 9.69255V9.07714C7.38499 8.82235 7.59177 8.61557 7.84655 8.61557C8.10133 8.61557 8.30811 8.82235 8.30811 9.07714ZM11.9649 6.17667C12.0117 6.06405 12.0117 5.93666 11.9649 5.82404C11.9415 5.76742 11.9077 5.71635 11.8652 5.67389L10.019 3.82764C9.83867 3.64733 9.54632 3.64733 9.36601 3.82764C9.18569 4.00796 9.18569 4.30028 9.36601 4.4806L10.4245 5.53912H3.53864C3.28386 5.53912 3.07708 5.7459 3.07708 6.00068C3.07708 6.25546 3.28386 6.46224 3.53864 6.46224H10.4245L9.36601 7.52076C9.18569 7.70107 9.18569 7.9934 9.36601 8.17371C9.45586 8.26357 9.57404 8.30911 9.6922 8.30911C9.81036 8.30911 9.9285 8.26418 10.0183 8.17371L11.8646 6.32747C11.9077 6.28377 11.9415 6.23268 11.9649 6.17667Z"
                            fill="#00171F" />
                    </svg>
                    </span>
                    <span class="ds-account-column-nav-item-text dark-text">{{ text_logout }}</span>
                </a>
            </li>
        {% else %}
            <li>
                <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ login }}">{{ text_login }}</a>
            </li>
            <li>
                <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ register }}">{{ text_register }}</a>
            </li>
            <li>
                <a class="ds-account-column-nav-item d-flex align-items-center" href="{{ forgotten }}">{{ text_forgotten }}</a>
            </li>
        {% endif %}
    </ul>
</div>
<script>
    const columnToShow = document.querySelector('.ds-column');

    if (columnToShow) {
        columnToShow.classList.add('display-column');
    }
</script>
