{% if isPopup is defined and isPopup %}
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	        <div class="modal-header p-0 pb-4">
	            <h5 class="modal-title fsz-20 fw-700 d-flex align-items-center justify-content-between" id="cartModalLabel">{{ heading_title }}</h5>
	            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
						<path d="M11.8029 11.5725C12.0633 11.8329 12.0633 12.2551 11.8029 12.5155C11.6731 12.6453 11.5025 12.7111 11.3319 12.7111C11.1612 12.7111 10.9906 12.6462 10.8608 12.5155L5.99911 7.65384L1.13743 12.5155C1.00766 12.6453 0.837017 12.7111 0.666369 12.7111C0.495722 12.7111 0.325075 12.6462 0.195312 12.5155C-0.0651039 12.2551 -0.0651039 11.8329 0.195312 11.5725L5.057 6.71085L0.195312 1.8492C-0.0651039 1.58878 -0.0651039 1.16657 0.195312 0.906158C0.455727 0.645742 0.877907 0.645742 1.13832 0.906158L6.00001 5.76787L10.8617 0.906158C11.1221 0.645742 11.5443 0.645742 11.8047 0.906158C12.0651 1.16657 12.0651 1.58878 11.8047 1.8492L6.943 6.71085L11.8029 11.5725Z" fill="#00A8E8" />
					</svg>
				</button>
	        </div>
	        <div class="modal-body modal-body-cart position-relative p-0">
				{% if products or vouchers %}
					<div id="error_minimum" class="required mt-3">
						{% if error_minimum %}
							<div>***{{ error_minimum }}</div>
						{% endif %}
					</div>
					<div id="modalCartBody">
						<div class="modal-body-cart-items pt-4">
							{% for product in products %}
								<div class="ds-cart-item">
									<div class="ds-cart-item-info d-flex mb-3 position-relative">
										{% if product.thumb %}
											<div class="ds-cart-item-img me-3">
												<a href="{{ product.href }}">
													<img src="{{ product.thumb }}" alt="{{ product.name }}" width="48" height="48" />
												</a>
											</div>
										{% endif %}
										<div class="ds-cart-item-desc">
											<div class="ds-cart-item-title fw-300">
												<a href="{{ product.href }}" class="dark-text">{{ product.name }}</a>
												{% if not product.stock %}
												<span class="required">***</span>
												{% endif %}
											</div>
											{% if product.model %}
												<div class="ds-cart-item-option fsz-12 mt-1">{{ column_model }}: {{ product.model }}</div>
											{% endif %}
											{% if product.option %}
												<div class="ds-cart-item-options">
													{% for option in product.option %}
														<div class="ds-cart-item-option fsz-12">{{ option.name }}: {{ option.value }}</div>
													{% endfor %}
												</div>
											{% endif %}
										</div>
										<button type="button" class="no-btn position-absolute" onclick="remove(this, 'remove'); return false;" aria-label="Delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
												<path
													d="M13.7783 12.2207C14.0713 12.5137 14.0713 12.9888 13.7783 13.2818C13.6323 13.4278 13.4403 13.5017 13.2483 13.5017C13.0563 13.5017 12.8643 13.4288 12.7183 13.2818L7.24828 7.81173L1.77828 13.2818C1.63228 13.4278 1.44028 13.5017 1.24828 13.5017C1.05628 13.5017 0.864285 13.4288 0.718285 13.2818C0.425285 12.9888 0.425285 12.5137 0.718285 12.2207L6.18829 6.75076L0.718285 1.28079C0.425285 0.987785 0.425285 0.51275 0.718285 0.21975C1.01129 -0.07325 1.48629 -0.07325 1.77929 0.21975L7.24929 5.68978L12.7193 0.21975C13.0123 -0.07325 13.4873 -0.07325 13.7803 0.21975C14.0733 0.51275 14.0733 0.987785 13.7803 1.28079L8.31028 6.75076L13.7783 12.2207Z"
													fill="#D84040"></path>
											</svg>
										</button>
									</div>
									<div class="ds-cart-item-actions d-flex align-items-center justify-content-between">
										<div class="ds-cart-item-buttons d-flex">
											<div class="ds-module-quantity d-flex align-items-center justify-content-center br-8 me-2">
												<input name="product_id_q" value="{{ product.product_id }}" type="hidden" />
												<input name="product_id" value="{{ product.key }}" type="hidden" />
												<input name="product_stock_{{ product.key }}" id="product_stock_{{ product.key }}" value="{{ product.quantity_product }}" type="hidden" />
												<input name="product_minimum_{{ product.key }}" id="product_minimum_{{ product.key }}" value="{{ product.minimum }}" type="hidden" />
												<button type="button" aria-label="Minus" class="ds-module-quantity-btn d-flex align-items-center justify-content-center" onclick="update_manual('#main-quantity-val-{{ product.key }}', 'minus', '{{ product.key }}'); return validate('#main-quantity-val-{{ product.key }}');">
													<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g>
															<path
																d="M3.33333 7.5L12.6667 7.5C12.9427 7.5 13.1667 7.724 13.1667 8C13.1667 8.276 12.9427 8.5 12.6667 8.5L3.33333 8.5C3.05733 8.5 2.83333 8.276 2.83333 8C2.83333 7.724 3.05733 7.5 3.33333 7.5Z"
																fill="#25314C"></path>
														</g>
													</svg>
												</button>
												<input type="text" name="quantity" class="form-control" id="main-quantity-val-{{ product.key }}" value="{{ product.quantity }}" onchange="update_manual('#main-quantity-val-{{ product.key }}', 'manual', '{{ product.key }}'); return validate('#main-quantity-val-{{ product.key }}');" keypress="update_manual('#main-quantity-val-{{ product.key }}', '', '{{ product.key }}'); return validate('#main-quantity-val-{{ product.key }}');" inputmode="numeric" aria-label="Quantity">
												<button type="button" aria-label="Plus" class="ds-module-quantity-btn d-flex align-items-center justify-content-center" onclick="update_manual('#main-quantity-val-{{ product.key }}', 'plus', '{{ product.key }}'); return validate('#main-quantity-val-{{ product.key }}');">
													<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
														<g>
															<path
																d="M2.83341 8.00009C2.83341 7.72409 3.05741 7.50009 3.33341 7.50009L7.50008 7.50009L7.50008 3.33342C7.50008 3.05742 7.72408 2.83342 8.00008 2.83342C8.27608 2.83342 8.50008 3.05742 8.50008 3.33342L8.50008 7.50009L12.6667 7.50008C12.9427 7.50008 13.1667 7.72408 13.1667 8.00008C13.1667 8.27608 12.9427 8.50008 12.6667 8.50008L8.50008 8.50009L8.50008 12.6668C8.50008 12.9428 8.27608 13.1668 8.00008 13.1668C7.72408 13.1668 7.50008 12.9428 7.50008 12.6668L7.50008 8.50009L3.33342 8.50009C3.05742 8.50009 2.83342 8.27609 2.83341 8.00009Z"
																fill="#25314C"></path>
														</g>
													</svg>
												</button>
											</div>
											<input name="product_key" value="{{ product.key }}" style="display: none;" hidden />
											<input name="product_id_q" value="{{ product.product_id }}" style="display: none;" hidden />
										</div>
										<div class="ds-cart-item-price text-end">
											<div class="ds-cart-item-price-total dark-text fw-500 fsz-20">{{ product.total }}</div>
											<div class="ds-cart-item-price-one fsz-14 lh-sm gap-1 d-flex align-items-md-center"><p class="light-text">{{ column_price }}:</p><p class="mt-0 light-text">{{ product.price }}</p></div>
										</div>
									</div>
								</div>
							{% endfor %}
							{% for voucher in vouchers %}
								<div class="ds-cart-item content-block p-2 p-md-3">
									<div class="d-flex align-items-center justify-content-between">
										<div class="dark-text fw-300 me-2">{{ voucher.description }}</div>
										<button type="button" class="no-btn" onclick="voucher.remove('{{ voucher.key }}');">
											<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
												<path
													d="M13.7783 12.2207C14.0713 12.5137 14.0713 12.9888 13.7783 13.2818C13.6323 13.4278 13.4403 13.5017 13.2483 13.5017C13.0563 13.5017 12.8643 13.4288 12.7183 13.2818L7.24828 7.81173L1.77828 13.2818C1.63228 13.4278 1.44028 13.5017 1.24828 13.5017C1.05628 13.5017 0.864285 13.4288 0.718285 13.2818C0.425285 12.9888 0.425285 12.5137 0.718285 12.2207L6.18829 6.75076L0.718285 1.28079C0.425285 0.987785 0.425285 0.51275 0.718285 0.21975C1.01129 -0.07325 1.48629 -0.07325 1.77929 0.21975L7.24929 5.68978L12.7193 0.21975C13.0123 -0.07325 13.4873 -0.07325 13.7803 0.21975C14.0733 0.51275 14.0733 0.987785 13.7803 1.28079L8.31028 6.75076L13.7783 12.2207Z"
													fill="#D84040"></path>
											</svg>
										</button>
									</div>
								</div>
							{% endfor %}
							{% if error_warning %}
								<div class="required mb-4">*** {{ error_warning }}</div>
							{% endif %}
						</div>
					</div>
					<div class="modal-cart-bottom">
						<div class="pb-4">
							<div class="d-flex flex-column flex-md-row align-items-stretch align-items-md-center justify-content-between">
								{% if oct_byoneclick is defined and oct_byoneclick %}
									{{ oct_byoneclick }}
								{% endif %}
								<div class="ds-cart-item-total text-end fw-500 fsz-24 dark-text order-0 order-sm-1 mt-3 mt-md-0">{{ text_cart_items }}</div>
							</div>
							{% if totals %}
								{% for total in totals %}
									<div class="total-oct d-flex align-items-center justify-content-end mt-2">
										<div class="ds-cart-item-price text-end">
										<div class="d-flex align-items-center gap-2">
											<span class="dark-text" id="modalCartTotalsTitle">{{ total.title }}:</span>
											<span class="ds-cart-item-price-total dark-text red-text fw-400 fsz-20" id="modalCartTotalsText">{{ total.text }}</span>
										</div>
										</div>
									</div>
								{% endfor %}
							{% endif %}
						</div>

						{% if free_shipping_html %}
							<div id="free_shipping_html">{{ free_shipping_html }}</div>
						{% endif %}

						<div id="recommended_products">
							{% if recommended_products %} 
								{{ recommended_products }}
							{% endif %}
						</div>
						
						<div class="modal-body-buttons d-flex flex-column flex-sm-row align-items-center justify-content-between pt-4">
							<span class="blue-link fsz-14 fw-300 d-inline-flex align-items-center order-1 order-sm-0" data-bs-dismiss="modal">
								<svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="7" height="13" viewBox="0 0 7 13" fill="none">
									<path
										d="M6.28371 11.8492C6.43972 12.0052 6.43972 12.2588 6.28371 12.4148C6.20531 12.4932 6.1029 12.5316 6.00049 12.5316C5.89809 12.5316 5.79568 12.4924 5.71728 12.4148L0.117006 6.81454C-0.0390019 6.65854 -0.0390019 6.4049 0.117006 6.24889L5.71728 0.648622C5.87328 0.492614 6.12692 0.492614 6.28293 0.648622C6.43894 0.804629 6.43894 1.05827 6.28293 1.21427L0.965875 6.53133L6.28371 11.8492Z"
										fill="#00A8E8" />
								</svg>
								{{ button_shopping }}
							</span>
							<a href="{{ checkout_link }}" class="button button-primary br-7 px-5 order-0 order-sm-1 mb-4 mb-sm-0">{{ button_checkout }}</a>
						</div>
					</div>
				{% else %}
					<div class="empty-popup-cart text-center pt-5" id="modalCartBody">
						<div class="secondary-text text-center fsz-22">{{ text_empty }}</div>
						<div class="d-flex align-items-center justify-content-center my-5">
							<img src="catalog/view/theme/oct_deals/images/cart-empty.svg" alt="" width="300" height="210">
						</div>
						<button type="submit" class="button button-primary br-7 fsz-14 w-100" data-bs-dismiss="modal">{{ button_shopping }}</button>
					</div>
				{% endif %}
			</div>
	    </div>
	</div>
<script>
//popup_cart_one_click
function showInput() {
	$('#popup_cart_one_click').fadeOut(1);
	$('.hidden-input-group').fadeIn(300).css('height', '44px');
}

// validate input value
function validate(input) {
	$(input).val($(input).val().replace(/[^\d,]/g, ''));
}

// remove product from cart
function remove(target, status) {
	product_key  = $(target).parent().next().find('input[name="product_key"]').val(),
	url = null;
	if (status == 'remove') {
		url = 'index.php?route=octemplates/module/oct_popup_cart&isPopup=1&remove=' + product_key;
	}
	masked('body', true);
	$.ajax({
		url: url,
		type: 'get',
		dataType: 'html',
		cache: false,
		success: function(data) {
			
			$.ajax({
				url: 'index.php?route=octemplates/module/oct_popup_cart/status_cart',
				type: 'get',
				dataType: 'json',
				cache: false,
				success: function(json) {
					masked('body', false);

					if(data){

						if (!json['total_products']) {
							$('#cart .ds-cart-qty').removeClass('active');
						}
					
						let cartIdsHolder = document.querySelector("[data-cart-ids]");

						if (json.oct_cart_ids && cartIdsHolder) {
							cartIdsHolder.dataset.cartIds = json.oct_cart_ids;
							setCartBtnAdded(updateOk = true);
						} else {
							if (cartIdsHolder) {
								cartIdsHolder.dataset.cartIds = '';
							}
							setCartBtnAdded(updateOk = true);
						}

						let parser = new DOMParser(),
							dataParsed = parser.parseFromString(data, 'text/html'),
							checkEmptyCart = dataParsed.querySelector('.empty-popup-cart'),
							modalCartBottom = document.querySelector('.modal-cart-bottom');

						const modalCartInner = document.getElementById('modalCartBody');
						const dataParsedCartInner = dataParsed.getElementById('modalCartBody').outerHTML;

						if (checkEmptyCart) {
							modalCartBottom.classList.add('d-none');
						}

						modalCartInner.innerHTML = dataParsedCartInner;

					}
					// Need to set timeout otherwise it wont update the total
					setTimeout(function () {

						$('#cart .ds-cart-qty').html(json['total_products']);
						$('.ds-cart-popup-total').html(json['total_amount']);

						if (json['totals'] && json['totals'].length > 0) {
							$('#modalCartTotalsText').html(json['totals'][0]['text']);
						} else {
							$('.total-oct').remove();
						}

						if (json['free_shipping_html']) {
							$('#free_shipping_html').html(json['free_shipping_html']);
						} else {
							$('#free_shipping_html').html('');
						}

						if (json['recommended_products']) {
							$('#recommended_products').html(json['recommended_products']);
						} else {
							$('#recommended_products').html('');
						}

						if (json['error_minimum']) {
							$('#error_minimum').html(json['error_minimum']);
						} else {
							$('#error_minimum').html('');
						}

					}, 100);
				}
			});
		}
	});
}

function update_manual(target, change, productID) {
	let use_minimum_step = {{ use_minimum_step ?? 0 }};
	let input_val = $(target).val(),
	quantity = parseInt(input_val),
	changeQuantity;

	let productKey = productID;
	let minimum = parseInt(document.getElementById('product_minimum_' + productKey).value) || 1;
	let step = use_minimum_step ? minimum : 1;

	if (quantity <= 0) {
		quantity = $(target).val(use_minimum_step ? minimum : 1);
		changeQuantity = use_minimum_step ? minimum : 1;
	} else if (change === 'minus') {
		changeQuantity = quantity - step;
		if (changeQuantity < (use_minimum_step ? minimum : 1)) {
			changeQuantity = use_minimum_step ? minimum : 1;
		}
	} else if (change === 'plus') {
		changeQuantity = quantity + step;
	} else {
		if (use_minimum_step) {
			if (quantity < minimum) {
				changeQuantity = minimum;
			} else {
				let remainder = quantity % minimum;
				if (remainder !== 0) {
					changeQuantity = quantity - remainder + minimum;
				} else {
					changeQuantity = quantity;
				}
			}
		} else {
			changeQuantity = quantity < 1 ? 1 : quantity;
		}
	}

	masked('body', true);

	if (changeQuantity < minimum) changeQuantity = minimum;

	let productStock = $('#product_stock_' + productID).val();
	let productStockCheckout = '{{ product_stock_checkout }}';

	if (productStockCheckout == false) {
		if (changeQuantity > productStock) {
			scNotify('danger', '{{ error_stock }}');
			masked('body', false);
			if (productStock != 0) {
				if (use_minimum_step) {
					changeQuantity = Math.floor(productStock / minimum) * minimum;
					if (changeQuantity < minimum) {
						changeQuantity = minimum;
					}
				} else {
					changeQuantity = productStock;
				}
				$(target).val(changeQuantity);
			}
			if (change === 'minus') {
				changeQuantity = minimum;
			}
		}
	}

	$.ajax({
		url: 'index.php?route=octemplates/module/oct_popup_cart&isPopup=1&update=' + productID + '&quantity=' + changeQuantity,
		type: 'get',
		dataType: 'html',
		cache: false,
		success: function(data) {
		$.ajax({
			url: 'index.php?route=octemplates/module/oct_popup_cart/status_cart',
			type: 'get',
			dataType: 'json',
			cache: false,
			success: function(json) {
				if(data){
					let parser = new DOMParser(),
						dataParsed = parser.parseFromString(data, 'text/html');

					const modalCartInner = document.getElementById('modalCartBody');
					const dataParsedCartInner = dataParsed.getElementById('modalCartBody').outerHTML;
					modalCartInner.innerHTML = dataParsedCartInner;

				}
				setTimeout(function () {
					$('#cart .ds-cart-qty').html(json['total_products']);
					$('.ds-cart-popup-total').html(json['total_amount']);

					if (json['totals'] && json['totals'].length > 0) {
						$('#modalCartTotalsText').html(json['totals'][0]['text']);
					} else {
						$('.total-oct').remove();
					}

					if (json['free_shipping_html']) {
						$('#free_shipping_html').html(json['free_shipping_html']);
					} else {
						$('#free_shipping_html').html('');
					}

					if (json['recommended_products']) {
						$('#recommended_products').html(json['recommended_products']);
					} else {
						$('#recommended_products').html('');
					}

					if (json['error_minimum']) {
						$('#error_minimum').html(json['error_minimum']);
					} else {
						$('#error_minimum').html('');
					}

					masked('body', false);
				}, 100);
			}
		});
		}
	});
}
</script>
</div>
{% endif %}
