<div class="modal fade" id="callbackModal" tabindex="-1" role="dialog" aria-labelledby="callbackModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	        <div class="modal-header p-0 pb-4">
	            <h5 class="modal-title fsz-20 fw-700 d-flex align-items-center justify-content-between" id="callbackModalLabel">{{ heading_title }}</h5>
	            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
						<path d="M11.8029 11.5725C12.0633 11.8329 12.0633 12.2551 11.8029 12.5155C11.6731 12.6453 11.5025 12.7111 11.3319 12.7111C11.1612 12.7111 10.9906 12.6462 10.8608 12.5155L5.99911 7.65384L1.13743 12.5155C1.00766 12.6453 0.837017 12.7111 0.666369 12.7111C0.495722 12.7111 0.325075 12.6462 0.195312 12.5155C-0.0651039 12.2551 -0.0651039 11.8329 0.195312 11.5725L5.057 6.71085L0.195312 1.8492C-0.0651039 1.58878 -0.0651039 1.16657 0.195312 0.906158C0.455727 0.645742 0.877907 0.645742 1.13832 0.906158L6.00001 5.76787L10.8617 0.906158C11.1221 0.645742 11.5443 0.645742 11.8047 0.906158C12.0651 1.16657 12.0651 1.58878 11.8047 1.8492L6.943 6.71085L11.8029 11.5725Z" fill="#00A8E8" />
					</svg>
				</button>
	        </div>
	        <div id="call-main-block" class="modal-body p-0 pt-4">
				<div class="modal-body-text fsz-14 secondary-text fw-300 pb-4">{{ enter_text }}</div>
		        <form method="post" enctype="multipart/form-data" id="call-phone-form">
					{% if oct_popup_call_phone_data.name %}
						<div class="input-group">
							<span class="input-group-text" id="usernameCallbackIcon">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 14 17"
									fill="none">
									<path
										d="M7.00726 7.47837C5.1217 7.47837 3.58848 5.94434 3.58848 4.05959C3.58848 2.17483 5.1217 0.640808 7.00726 0.640808C8.89282 0.640808 10.426 2.17483 10.426 4.05959C10.426 5.94434 8.89282 7.47837 7.00726 7.47837ZM7.00726 1.84744C5.78696 1.84744 4.79511 2.83928 4.79511 4.05959C4.79511 5.27989 5.78696 6.27174 7.00726 6.27174C8.22756 6.27174 9.21941 5.27989 9.21941 4.05959C9.21941 2.83928 8.22676 1.84744 7.00726 1.84744ZM13.2342 15.7237V13.3257C13.2342 11.1852 12.0228 8.685 8.60883 8.685H5.39115C1.9772 8.685 0.765747 11.1844 0.765747 13.3257V15.7237C0.765747 16.0567 1.03603 16.327 1.36906 16.327C1.70209 16.327 1.97238 16.0567 1.97238 15.7237V13.3257C1.97238 12.5205 2.21933 9.89162 5.39115 9.89162H8.60883C11.7807 9.89162 12.0276 12.5197 12.0276 13.3257V15.7237C12.0276 16.0567 12.2979 16.327 12.6309 16.327C12.964 16.327 13.2342 16.0567 13.2342 15.7237Z"
										fill="#00171F"></path>
								</svg>
							</span>
							<input type="text" name="name" value="{{ name }}" class="form-control" id="inputCallbackName" placeholder="{{ enter_name }}" inputmode="text" aria-label="Username" aria-describedby="usernameCallbackIcon">
						</div>
					{% endif %}
					{% if oct_popup_call_phone_data.telephone %}
						<div class="input-group mt-4">
							<span class="input-group-text" id="phoneCallbackIcon">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
									<path
										d="M11.3368 15.1627C11.0004 15.1627 10.6618 15.1174 10.3276 15.0262C5.80904 13.7918 2.23157 10.2329 0.990706 5.73786C0.708526 4.71571 0.863136 3.65051 1.4275 2.73998C1.99406 1.82508 2.92566 1.17939 3.98329 0.969273C4.68691 0.829192 5.38246 1.14146 5.7394 1.74045L6.88497 3.66655C7.44127 4.60188 7.16486 5.80643 6.25529 6.40907L5.42644 6.95773C6.20115 8.54094 7.5042 9.84179 9.08808 10.6122L9.64673 9.78268C10.2558 8.87872 11.4658 8.60806 12.4047 9.16473L14.3419 10.3146C14.9415 10.6706 15.2514 11.3673 15.1151 12.0473C14.904 13.1001 14.2554 14.0274 13.337 14.5914C12.7199 14.9693 12.0331 15.1627 11.3368 15.1627ZM4.3197 2.02863C4.28378 2.02863 4.24716 2.03229 4.21198 2.03959C3.43946 2.19353 2.77029 2.6568 2.36425 3.31416C1.96186 3.96349 1.85117 4.72154 2.052 5.44748C3.19025 9.57184 6.47306 12.8382 10.6185 13.9705C11.3486 14.1697 12.1078 14.0588 12.7594 13.659C13.419 13.2541 13.8853 12.5872 14.037 11.8314C14.0824 11.6045 13.9791 11.3717 13.7783 11.2528L11.8418 10.103C11.4057 9.84469 10.8428 9.97092 10.5599 10.3904L9.74264 11.6052C9.59605 11.8226 9.31324 11.9058 9.0743 11.8051C6.90261 10.9011 5.13549 9.13846 4.22665 6.96867C4.1255 6.72644 4.21042 6.44774 4.42957 6.30256L5.64707 5.49635C6.06924 5.21692 6.19747 4.65733 5.93874 4.22323L4.79317 2.29784C4.69276 2.12858 4.51099 2.02863 4.3197 2.02863Z"
										fill="#00171F" />
								</svg>
							</span>
							<input type="tel" name="telephone" value="{{ telephone }}" class="form-control" id="inputCallbackPhone" placeholder="{{ enter_telephone }}" inputmode="tel" aria-label="telephone" aria-describedby="phoneCallbackIcon">
						</div>
					{% endif %}
					<input class="input-text" value="" type="hidden" name="url_page" />
					{% if oct_popup_call_phone_data.comment %}
						<div class="form-group pt-4">
							<textarea name="comment" class="form-control" id="inputCallbackComment" rows="7" placeholder="{{ enter_comment }}"></textarea>
						</div>
					{% endif %}
					{% if text_terms %}
						<div class="form-check py-3">
							<input id="agreeCallbackCheck" type="checkbox" class="form-check-input" name="agree">
							<label class="form-check-label" for="agreeCallbackCheck">
								{{ text_terms }}
							</label>
						</div>
					{% endif %}
					<button id="call-phone-form-btn" type="submit" class="button button-primary br-7 fsz-14 w-100">{{ button_send }}</button>
				</form>
				<div class="ds-popup-success d-none">
                    <div class="secondary-text text-center" id="callbackSuccessText"></div>
                    <div class="d-flex align-items-center justify-content-center my-5">
						<svg xmlns="http://www.w3.org/2000/svg" width="224" height="170" viewBox="0 0 224 170" fill="none">
                            <g filter="url(#filter0_d_1701_4211)">
                            <circle cx="112" cy="85" r="46.5642" fill="url(#paint0_linear_1701_4211)"/>
                            </g>
                            <path d="M106.503 98.1417L96 87.6385L100.786 82.852L106.503 88.5856L123.214 71.8584L128 76.6448L106.503 98.1417Z" fill="#F8FBFD"/>
                            <rect x="174.04" y="99.954" width="6.60913" height="6.60913" transform="rotate(30 174.04 99.954)" fill="url(#paint1_linear_1701_4211)"/>
                            <rect x="179.764" y="74.054" width="2.70734" height="2.70734" transform="rotate(-14.459 179.764 74.054)" fill="url(#paint2_linear_1701_4211)"/>
                            <rect x="57.5212" y="54.1715" width="2.70734" height="2.70734" transform="rotate(15 57.5212 54.1715)" fill="url(#paint3_linear_1701_4211)"/>
                            <circle cx="156.001" cy="49.0761" r="3" fill="url(#paint4_linear_1701_4211)"/>
                            <circle cx="53.6396" cy="120.059" r="3" fill="url(#paint5_linear_1701_4211)"/>
                            <circle cx="136.792" cy="134.346" r="1.86084" fill="url(#paint6_linear_1701_4211)"/>
                            <circle cx="50.6398" cy="87.004" r="0.698364" fill="url(#paint7_linear_1701_4211)"/>
                            <defs>
                            <filter id="filter0_d_1701_4211" x="46.4358" y="23.4358" width="131.128" height="131.128" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="9.5"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.283797 0 0 0 0 0.62711 0 0 0 0 0.318128 0 0 0 0.46 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1701_4211"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1701_4211" result="shape"/>
                            </filter>
                            <linearGradient id="paint0_linear_1701_4211" x1="93.2285" y1="48.6499" x2="125.072" y2="127.959" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#69B570"/>
                            <stop offset="1" stop-color="#2F993A"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_1701_4211" x1="177.345" y1="99.954" x2="177.345" y2="106.563" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#42A24B"/>
                            <stop offset="1" stop-color="#4CBC56"/>
                            </linearGradient>
                            <linearGradient id="paint2_linear_1701_4211" x1="181.118" y1="74.054" x2="181.118" y2="76.7613" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#42A24B"/>
                            <stop offset="1" stop-color="#4CBC56"/>
                            </linearGradient>
                            <linearGradient id="paint3_linear_1701_4211" x1="58.8749" y1="54.1715" x2="58.8749" y2="56.8788" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#42A24B"/>
                            <stop offset="1" stop-color="#4CBC56"/>
                            </linearGradient>
                            <linearGradient id="paint4_linear_1701_4211" x1="156.001" y1="46.0761" x2="156.001" y2="52.0761" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#42A24B"/>
                            <stop offset="1" stop-color="#4CBC56"/>
                            </linearGradient>
                            <linearGradient id="paint5_linear_1701_4211" x1="53.6396" y1="117.059" x2="53.6396" y2="123.059" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#42A24B"/>
                            <stop offset="1" stop-color="#4CBC56"/>
                            </linearGradient>
                            <linearGradient id="paint6_linear_1701_4211" x1="136.792" y1="132.485" x2="136.792" y2="136.207" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#42A24B"/>
                            <stop offset="1" stop-color="#4CBC56"/>
                            </linearGradient>
                            <linearGradient id="paint7_linear_1701_4211" x1="50.6398" y1="86.3056" x2="50.6398" y2="87.7024" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#42A24B"/>
                            <stop offset="1" stop-color="#4CBC56"/>
                            </linearGradient>
                            </defs>
                        </svg>
					</div>
                    <button type="button" class="button button-primary br-7 fsz-14 w-100" data-bs-dismiss="modal" aria-label="Close">{{ oct_info_bar_close }}</button>
                </div>
	        </div>
	    </div>
	</div>
	<script>
	$("#inputCallbackName, #inputCallbackPhone, #inputCallbackComment, #agreeCallbackCheck").on("change paste keyup", function() {
		$(this).removeClass('error_style');
	});

	$('[name="url_page"]').val(window.location.href);

	$('#call-phone-form').on('submit', function( event ) {
		event.preventDefault();
		$.ajax({
			type: 'post',
			url:  'index.php?route=octemplates/module/oct_popup_call_phone/send',
			dataType: 'json',
			cache: false,
			data: $('#call-phone-form').serialize(),
			beforeSend: function() {
				masked('body', true);
				
				$('#call-phone-form-btn').data('original-content', $('#call-phone-form-btn').html());
				$('#call-phone-form-btn').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>').prop('disabled', true);
			},
			complete: function() {
				masked('body', false);

				setTimeout(function () {
					$('#call-phone-form-btn').html($('#call-phone-form-btn').data('original-content')).prop('disabled', false);
				}, 600);
			},
			success: function(json) {
				if (json['error']) {
					$('#callbackModal .text-danger').remove();
					let errorOption = '';

					$.each(json['error'], function(i, val) {
						$('#callbackModal [name="' + i + '"]').addClass('error_style');
						errorOption += '<div class="alert-text-item">' + val + '</div>';
					});

					scNotify('danger', errorOption);
				} else {
					if (json['output']) {
						$("#callbackSuccessText").html(json['output']);
						$("#call-main-block").html($(".ds-popup-success"));
						$(".ds-popup-success").removeClass("d-none");
					}
				}
			}
		});
	});
	</script>
	{% if mask is defined and mask is not empty %}
	<script>
	$('#inputCallbackPhone').inputmask({
		mask: '{{ mask }}',
		clearMaskOnLostFocus: false
	});
	</script>
	{% endif %}
</div>
