{% if blog_categories %}
<div class="content-block p-0">
	<div class="content-block-title with-border-bottom fsz-16 fw-500 dark-text d-flex align-items-center p-3">
		<svg xmlns="http://www.w3.org/2000/svg" width="17" height="21" viewBox="0 0 17 21" fill="none">
            <path
                d="M16.28 6.73242L10.28 0.578578C10.139 0.433963 9.949 0.352936 9.75 0.352936H3.75C1.332 0.352936 0 1.71909 0 4.19909V16.5068C0 18.9868 1.332 20.3529 3.75 20.3529H12.75C15.168 20.3529 16.5 18.9868 16.5 16.5068V7.27601C16.5 7.07191 16.421 6.87601 16.28 6.73242ZM10.5 2.97961L13.939 6.50678H12.75C11.173 6.50678 10.5 5.81653 10.5 4.19909V2.97961ZM12.75 18.8145H3.75C2.173 18.8145 1.5 18.1242 1.5 16.5068V4.19909C1.5 2.58165 2.173 1.8914 3.75 1.8914H9V4.19909C9 6.67909 10.332 8.04524 12.75 8.04524H15V16.5068C15 18.1242 14.327 18.8145 12.75 18.8145ZM5.5 10.3529C5.5 10.7776 5.164 11.1222 4.75 11.1222C4.336 11.1222 4 10.7776 4 10.3529C4 9.92832 4.336 9.58371 4.75 9.58371C5.164 9.58371 5.5 9.92832 5.5 10.3529ZM5.5 14.4555C5.5 14.8801 5.164 15.2247 4.75 15.2247C4.336 15.2247 4 14.8801 4 14.4555C4 14.0309 4.336 13.6863 4.75 13.6863C5.164 13.6863 5.5 14.0309 5.5 14.4555ZM12.5 10.3529C12.5 10.7776 12.164 11.1222 11.75 11.1222H7.25C6.836 11.1222 6.5 10.7776 6.5 10.3529C6.5 9.92832 6.836 9.58371 7.25 9.58371H11.75C12.164 9.58371 12.5 9.92832 12.5 10.3529ZM12.5 14.4555C12.5 14.8801 12.164 15.2247 11.75 15.2247H7.25C6.836 15.2247 6.5 14.8801 6.5 14.4555C6.5 14.0309 6.836 13.6863 7.25 13.6863H11.75C12.164 13.6863 12.5 14.0309 12.5 14.4555Z"
                fill="#00171F" />
        </svg>
		{{ heading_title }}
	</div>
	<ul class="ds-account-column-nav fsz-14 list-unstyled p-0">
		{% for blog_category in blog_categories %}
			<li class="ds-column-categories-item">
				<span class="ds-account-column-nav-item d-flex align-items-center justify-content-between p-3">
					<a href="{{ blog_category.href }}" class="ds-account-column-nav-item-text dark-text">{{ blog_category.name }}</a>
					{% if blog_category.children %}
						<button
                        class="ds-column-categories-toggle br-4 p-0 d-flex align-items-center justify-content-center" aria-label="Toggle">
							<svg width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M2.99938 4.08973C2.87814 4.08973 2.75688 4.04365 2.66468 3.95082L0.138767 1.42491C-0.0462558 1.23988 -0.0462558 0.93991 0.138767 0.754887C0.323791 0.569864 0.623765 0.569864 0.808788 0.754887L3 2.9461L5.19121 0.754887C5.37624 0.569864 5.67621 0.569864 5.86123 0.754887C6.04626 0.93991 6.04626 1.23988 5.86123 1.42491L3.33532 3.95082C3.24186 4.04365 3.12063 4.08973 2.99938 4.08973Z"
									fill="#9CA3AF" />
							</svg>
						</button>
					{% endif %}
				</span>
				{% if blog_category.children %}
				<ul class="ds-column-categories-children ds-categories-2 list-unstyled ps-0">
					{% for child in blog_category.children %}
						<li class="ds-column-categories-item">
							<span class="d-flex justify-content-between">
								<a href="{{ child.href }}">{{ child.name }}</a>
							</span>
						</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
<script>
    const columnToShow = document.querySelector('.ds-column');

    if (columnToShow) {
        columnToShow.classList.add('display-column');
    }

	window.addEventListener('DOMContentLoaded', () => {
		toggleColumnCategories();
	});
</script>
{% endif %}
{% if search_block %}
<div class="content-block p-0 overflow-hidden mt-3">
	<div class="content-block-title with-border-bottom fsz-16 fw-500 dark-text d-flex align-items-center p-3">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path
                d="M9.5123 17.9141H3.65858C2.12002 17.9141 1.46343 17.2575 1.46343 15.7189V4.01148C1.46343 2.47293 2.12002 1.81634 3.65858 1.81634H8.78058V4.01148C8.78058 6.37053 10.0801 7.67006 12.4392 7.67006H14.6343V9.8652C14.6343 10.2691 14.9621 10.5969 15.366 10.5969C15.7699 10.5969 16.0977 10.2691 16.0977 9.8652V6.93834C16.0977 6.74419 16.0207 6.55785 15.8831 6.42126L10.0294 0.567543C9.89184 0.42998 9.70645 0.352905 9.5123 0.352905H3.65858C1.29953 0.352905 0 1.65243 0 4.01148V15.7189C0 18.078 1.29953 19.3775 3.65858 19.3775H9.5123C9.9162 19.3775 10.244 19.0497 10.244 18.6458C10.244 18.2419 9.9162 17.9141 9.5123 17.9141ZM10.244 4.01148V2.85147L13.5991 6.20663H12.4392C10.9006 6.20663 10.244 5.55003 10.244 4.01148ZM5.36591 9.8652C5.36591 10.2691 5.0381 10.5969 4.6342 10.5969C4.23029 10.5969 3.90248 10.2691 3.90248 9.8652C3.90248 9.4613 4.23029 9.13349 4.6342 9.13349C5.0381 9.13349 5.36591 9.4613 5.36591 9.8652ZM5.36591 13.7677C5.36591 14.1716 5.0381 14.4994 4.6342 14.4994C4.23029 14.4994 3.90248 14.1716 3.90248 13.7677C3.90248 13.3638 4.23029 13.036 4.6342 13.036C5.0381 13.036 5.36591 13.3638 5.36591 13.7677ZM11.4635 10.5969H7.07325C6.66934 10.5969 6.34153 10.2691 6.34153 9.8652C6.34153 9.4613 6.66934 9.13349 7.07325 9.13349H11.4635C11.8674 9.13349 12.1953 9.4613 12.1953 9.8652C12.1953 10.2691 11.8674 10.5969 11.4635 10.5969ZM7.07325 14.4994C6.66934 14.4994 6.34153 14.1716 6.34153 13.7677C6.34153 13.3638 6.66934 13.036 7.07325 13.036H8.53668C8.94058 13.036 9.26839 13.3638 9.26839 13.7677C9.26839 14.1716 8.94058 14.4994 8.53668 14.4994H7.07325ZM19.7856 19.1043L18.2733 17.5921C18.6421 17.0292 18.8617 16.3599 18.8617 15.6379C18.8617 13.6652 17.2568 12.0603 15.285 12.0603C13.3123 12.0603 11.7074 13.6652 11.7074 15.6379C11.7074 17.6106 13.3123 19.2156 15.285 19.2156C16.007 19.2156 16.6762 18.997 17.2391 18.6282L18.7514 20.1395C18.8938 20.2819 19.0812 20.3541 19.2685 20.3541C19.4558 20.3541 19.6432 20.2829 19.7856 20.1395C20.0715 19.8526 20.0715 19.3892 19.7856 19.1043ZM13.1709 15.6379C13.1709 14.4721 14.1192 13.5238 15.285 13.5238C16.4499 13.5238 17.3982 14.4721 17.3982 15.6379C17.3982 16.8038 16.4499 17.7521 15.285 17.7521C14.1192 17.7512 13.1709 16.8028 13.1709 15.6379Z"
                fill="#25314C" />
        </svg>
		{{ search_title }}
	</div>
	<div id="blog_search" class="ds-blog-search p-3 position-relative">
		<input type="text" name="blog_search" value="" placeholder="{{ search_placeholder }}" class="form-control w-100">
		<button type="button" id="oct-blog-search-button" class="ds-blog-search-button button button-transparent position-absolute" aria-label="Search">
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.2802 18.47L15.4392 14.629C16.7232 13.106 17.5002 11.143 17.5002 9C17.5002 4.175 13.5752 0.25 8.75021 0.25C3.92521 0.25 0.000213623 4.175 0.000213623 9C0.000213623 13.825 3.92521 17.75 8.75021 17.75C10.8932 17.75 12.8562 16.973 14.3792 15.689L18.2202 19.53C18.3662 19.676 18.5582 19.75 18.7502 19.75C18.9422 19.75 19.1342 19.677 19.2802 19.53C19.5732 19.238 19.5732 18.763 19.2802 18.47ZM1.50021 9C1.50021 5.002 4.75221 1.75 8.75021 1.75C12.7482 1.75 16.0002 5.002 16.0002 9C16.0002 12.998 12.7482 16.25 8.75021 16.25C4.75221 16.25 1.50021 12.998 1.50021 9Z"
                    fill="#00171F"></path>
            </svg>
		</button>
	</div>
</div>
{% endif %}
