<div class="content-block p-xl-4 mb-3 no-shadow">
    <div class="ds-product-tab-content-title d-flex align-items-center dark-text fsz-20 fw-500 mb-3 border-0">
        <svg class="me-2" width="24" height="24" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 0.5C5.21 0.5 0.5 5.21 0.5 11C0.5 16.79 5.21 21.5 11 21.5C16.79 21.5 21.5 16.79 21.5 11C21.5 5.21 16.79 0.5 11 0.5ZM11 20.5C5.762 20.5 1.5 16.238 1.5 11C1.5 5.762 5.762 1.5 11 1.5C16.238 1.5 20.5 5.762 20.5 11C20.5 16.238 16.238 20.5 11 20.5ZM14.115 8.41699H12.554V7.20898C12.554 6.51098 12.207 5.86301 11.626 5.47601C11.282 5.24701 10.862 5.19098 10.473 5.31598C10.082 5.44198 9.776 5.73498 9.625 6.13898L8.526 9.47302H7.04102C6.32802 9.47302 5.74902 10.053 5.74902 10.765V14.46C5.74902 15.172 6.32802 15.752 7.04102 15.752H13.0601C14.4451 15.752 14.795 15.048 15.037 14.328L16.093 11.161C16.35 10.388 16.291 9.68302 15.927 9.17902C15.677 8.83002 15.16 8.41699 14.115 8.41699ZM6.75 14.458V10.763C6.75 10.602 6.88099 10.471 7.04199 10.471H8V14.749H7.04199C6.88099 14.75 6.75 14.619 6.75 14.458ZM15.144 10.842L14.088 14.009C13.918 14.518 13.841 14.75 13.061 14.75H9V10.436C9.164 10.395 9.30904 10.294 9.36304 10.128L10.568 6.46899C10.618 6.33599 10.723 6.28499 10.781 6.26599C10.839 6.24699 10.955 6.22801 11.072 6.30701C11.374 6.50801 11.554 6.84501 11.554 7.20801V8.91602C11.554 9.19202 11.778 9.41602 12.054 9.41602H14.115C14.458 9.41602 14.91 9.47599 15.116 9.76099C15.284 9.99499 15.295 10.389 15.144 10.842Z" fill="#00171F"/>
        </svg>
        {{ oct_product_bought_together }}
    </div>
    <div class="ds-product-bought-together swiper">
        <div class="swiper-wrapper d-flex align-items-stretch">
            {% for product in bought_together %}
                <div class="ds-product-bought-together-item swiper-slide content-block h-auto d-flex gap-3">
                    <div class="ds-product-bought-together-item-img ds-module-img">
                        <a href="{{ product.href }}">
                            <img class="d-block mx-auto" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" width="{{ product.width }}" height="{{ product.height }}" loading="lazy"/>
                        </a>
                    </div>
                    <div class="ds-module-caption d-flex flex-column align-items-start h-100 pt-0 w-100">
                        <a href="{{ product.href }}" class="ds-module-title dark-text lh-sm">{{ product.name }}</a>
                        <div class="d-flex gap-3 justify-content-between align-items-end mt-auto w-100">
                            <div class="ds-module-price mb-2">
                            {% if product.special %}
                                <div class="ds-price-old fsz-12 fw-300 light-text text-decoration-line-through mb-1">
                                    {{ product.price }}
                                </div>
                                <div class="ds-price-new fsz-20 fw-700 red-text">
                                    {{ product.special }}
                                </div>
                            {% else %}
                                <div class="ds-price-new fsz-20 fw-700 dark-text">
                                    {{ product.price }}
                                </div>
                            {% endif %}
                            </div>
                            <button type="button" aria-label="To cart" class="button button-outline button-outline-primary br-8 fsz-12 p-2 ds-module-cart-btn">
                                <svg class="me-0" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13.3333 4.10256H11.4872V3.48718C11.4872 1.5639 9.92328 0 8 0C6.07672 0 4.51282 1.5639 4.51282 3.48718V4.10256H2.66666C1.64923 4.10256 0.820511 4.93046 0.820511 5.94872V12.9231C0.820511 14.9071 1.91343 16 3.89743 16H12.1026C14.0866 16 15.1795 14.9071 15.1795 12.9231V5.94872C15.1795 4.93046 14.3508 4.10256 13.3333 4.10256ZM5.74359 3.48718C5.74359 2.24246 6.75528 1.23077 8 1.23077C9.24472 1.23077 10.2564 2.24246 10.2564 3.48718V4.10256H5.74359V3.48718ZM13.9487 12.9231C13.9487 14.217 13.3965 14.7692 12.1026 14.7692H3.89743C2.60349 14.7692 2.05128 14.217 2.05128 12.9231V5.94872C2.05128 5.60903 2.32779 5.33333 2.66666 5.33333H4.51282V7.17949C4.51282 7.51918 4.78851 7.79487 5.1282 7.79487C5.4679 7.79487 5.74359 7.51918 5.74359 7.17949V5.33333H10.2564V7.17949C10.2564 7.51918 10.5321 7.79487 10.8718 7.79487C11.2115 7.79487 11.4872 7.51918 11.4872 7.17949V5.33333H13.3333C13.6722 5.33333 13.9487 5.60903 13.9487 5.94872V12.9231Z"
                                        fill="#00A8E8" />
                                </svg>
                            </button>
                            <input type="hidden" name="product_id" value="{{ product.product_id }}" />
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const sliderSelector = '.ds-product-bought-together';
        const sliderElement = document.querySelector(sliderSelector);
        const totalSlides = sliderElement.querySelectorAll('.swiper-slide').length;

        // Функція для перевірки і додавання/видалення класу with-pagination
        const togglePaginationClass = (swiper) => {
            // Визначаємо поточну кількість видимих слайдів для активного брейкпоінта
            const slidesPerView = swiper.params.slidesPerView;

            // Перевіряємо, якщо загальна кількість слайдів більша за slidesPerView
            if (totalSlides > slidesPerView) {
                sliderElement.classList.add('with-pagination');
            } else {
                sliderElement.classList.remove('with-pagination');
            }
        };

        const productBoughtSwiper = new Swiper(sliderSelector, {
            slidesPerView: 1,
            spaceBetween: 10,
            breakpoints: {
                576: {
                    slidesPerView: 2,
                    spaceBetween: 16,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 16,
                },
                992: {
                    slidesPerView: 3,
                    spaceBetween: 16,
                },
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 5000,
            },
            loop: false,
            speed: 500,
            // Подія ініціалізації Swiper
            on: {
                init: function () {
                    togglePaginationClass(this);
                },
                // Подія зміни розміру екрана
                resize: function () {
                    togglePaginationClass(this);
                }
            }
        });
    });
</script>