{% if fields %}
    <div class="content-block-title dark-text with-border-bottom pb-3 mb-3 fw-500 fsz-16 d-flex align-items-center">
        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 0.88501C4.48558 0.88501 0 5.37152 0 10.885C0 16.3985 4.48558 20.885 10 20.885C15.5144 20.885 20 16.3985 20 10.885C20 5.37152 15.5144 0.88501 10 0.88501ZM18.6047 10.885C18.6047 10.9166 18.6 10.9473 18.6 10.979C18.1833 11.0767 17.7656 11.2896 17.4419 11.6208C17.3005 11.5083 16.9768 11.1724 16.453 10.2059C15.8744 9.13895 16.1042 8.64314 16.4521 7.89244C16.5702 7.63849 16.6865 7.38267 16.7721 7.11849C16.9089 6.71384 16.8865 6.17616 16.7888 5.61523C17.9218 7.07384 18.6047 8.89896 18.6047 10.885ZM1.39535 10.885C1.39535 10.4292 1.44092 9.98547 1.50975 9.54919C2.32185 11.8822 4.14418 12.8069 5.16 13.3194C5.33116 13.4059 5.53393 13.5083 5.64555 13.578C5.6902 13.8264 5.68281 14.0013 5.66792 14.3055C5.65397 14.6097 5.63627 14.9892 5.66418 15.5799C5.71999 16.7287 6.65398 17.2171 7.33677 17.5734C7.74607 17.7873 8.13393 17.9892 8.33207 18.2822C8.4316 18.4245 8.52371 18.871 8.49115 19.3483C4.46511 18.6329 1.39535 15.1148 1.39535 10.885ZM9.87719 19.4832C9.9358 18.725 9.79625 17.939 9.48276 17.4915C9.093 16.9157 8.50419 16.6078 7.98419 16.3371C7.2921 15.9752 7.07348 15.8143 7.05953 15.5139C7.03441 14.9855 7.05118 14.645 7.06327 14.3724C7.08188 13.9799 7.09767 13.6404 6.97674 13.1204C6.8586 12.6134 6.38698 12.3753 5.78977 12.0739C4.52372 11.4357 2.42328 10.3678 2.50142 6.67943C3.9777 4.05711 6.78323 2.28036 10.0009 2.28036C10.3665 2.28036 10.7246 2.31105 11.079 2.3557C10.9293 2.55198 10.7154 2.71478 10.4958 2.78641C8.57304 3.41618 8.55257 5.12594 8.53862 6.25803C8.52746 7.2078 8.46607 7.38083 8.32747 7.41339C8.21119 7.40501 7.88371 7.22825 7.68929 7.12221C7.18976 6.85058 6.67444 6.56967 6.1377 6.6999C5.6949 6.80409 5.15625 7.21526 4.98416 7.79944C4.89858 8.08967 4.83813 8.66455 5.39534 9.24223C5.73208 9.59106 5.74419 9.72781 5.77024 10.0004C5.78977 10.2087 5.8177 10.4934 5.97026 10.8431C6.55724 12.1399 8.31813 11.9399 8.9879 11.8617C10.0279 11.7315 10.2158 11.7259 10.7377 12.2692C10.9498 12.4897 11.0735 12.7706 11.2037 13.0683C11.4521 13.632 11.7907 14.4041 12.8391 14.525C13.6577 14.6264 14.1823 14.8841 14.3395 15.0952C14.3777 15.1464 14.387 15.1818 14.3768 15.2413C14.3275 15.5334 13.961 15.8822 13.5358 16.2869C12.8307 16.9566 11.8968 17.8553 11.5591 19.3427C11.053 19.4357 10.533 19.4915 10 19.4915C9.95814 19.4897 9.91812 19.4841 9.87719 19.4832ZM13.1991 18.8664C13.5247 18.2273 14.0139 17.7548 14.4967 17.2962C15.0781 16.7436 15.626 16.2227 15.7535 15.471C15.827 15.0348 15.7256 14.6153 15.4596 14.259C14.8754 13.4748 13.6753 13.2199 13.0065 13.1371C12.787 13.112 12.7284 13.0627 12.4828 12.5045C12.3256 12.1464 12.1293 11.6999 11.7451 11.3008C10.7228 10.2366 9.87999 10.3417 8.82324 10.4748C7.54696 10.6199 7.293 10.3762 7.24649 10.2738C7.18696 10.138 7.17672 10.0301 7.16184 9.86734C7.11719 9.39571 7.0251 8.91851 6.40091 8.272C6.34882 8.21804 6.32745 8.18082 6.32466 8.19012C6.33955 8.15012 6.42231 8.07292 6.40557 8.06269C6.51813 8.07292 6.83441 8.24501 7.02324 8.34734C7.51906 8.61711 8.03255 8.89431 8.57115 8.78361C9.90883 8.50826 9.92371 7.2171 9.93488 6.27385C9.95069 4.99199 10.0493 4.40035 10.9311 4.11198C11.573 3.90175 12.2158 3.36223 12.5051 2.65432C13.2577 2.88409 13.9628 3.21711 14.6121 3.63199C15.0688 4.33338 15.6251 6.15849 15.4493 6.68128C15.3786 6.89895 15.2828 7.10269 15.1879 7.30548C14.7991 8.14362 14.3153 9.18732 15.2279 10.871C16.0158 12.3231 16.6484 12.9762 17.3442 13.0562C17.3823 13.0608 17.4261 13.0636 17.4754 13.0636C17.7237 13.0636 18.093 12.9836 18.4326 12.6059C17.8493 15.4608 15.8465 17.8013 13.1991 18.8664Z" fill="#00171F"/>
            </svg>
        <span>
            {{ heading_shipping_country_block }}
        </span>
    </div>
    <div class="row gx-3 gx-md-4 gy-3 register_block">
        {% for key, field in fields %}
            {% if field.type == 'select' and key == 'country_id' or key == 'zone_id' %}
                <div class="form-group col-lg-6">
                    <label class="dark-text fsz-14 fw-500 mb-1" for="{{ key }}">
                        {% if field.required %}<span class="required">*</span>{% endif %}
                        {% if field.localization[language_id].name is not empty %}
                            {{ field.localization[language_id].name }}
                        {% elseif attribute(_context, 'entry_' ~ key) is not empty %}
                            {{ attribute(_context, 'entry_' ~ key) }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}
                    </label>
                        {% if key == 'country_id' %}
                            <select class="form-control form-select" id="{{ key }}" name="{{ key }}">
                                <option value="">{{ text_select }}</option>
                                {% for country in countries %}
                                    {% if country.country_id == default_country_id %}
                                        <option value="{{ country.country_id }}" selected="selected">{{ country.name }}
                                        </option>
                                    {% elseif country.country_id == field.value %}
                                        <option value="{{ country.country_id }}" selected="selected">{{ country.name }}
                                        </option>
                                    {% else %}
                                        <option value="{{ country.country_id }}">{{ country.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% else %}
                            <select class="form-control form-select" id="{{ key }}" name="{{ key }}">
                                <option value="">{{ text_select }}</option>
                                    {% for zone in zones %}
                                        {% if zone.zone_id == field.value %}
                                            <option value="{{ zone.zone_id }}" selected="selected">{{ zone.name }}</option>
                                        {% elseif zone.zone_id == default_zone_id %}
                                            <option value="{{ zone.zone_id }}" selected="selected">{{ zone.name }}</option>
                                        {% else %}
                                            <option value="{{ zone.zone_id }}">{{ zone.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                            </select>
                        {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}