<div class="content-block-title dark-text with-border-bottom pb-3 mb-3 fw-500 fsz-16 d-flex align-items-center justify-content-between">
    <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path
                d="M15.7692 0.531982H4.23077C1.50256 0.531982 0 2.03455 0 4.76275V16.3012C0 19.0294 1.50256 20.532 4.23077 20.532H15.7692C18.4974 20.532 20 19.0294 20 16.3012V4.76275C20 2.03455 18.4974 0.531982 15.7692 0.531982ZM15.3846 18.9935H4.61539V18.6038C4.61539 17.7494 4.87696 14.9627 8.24619 14.9627H11.7538C15.123 14.9627 15.3846 17.7494 15.3846 18.6038V18.9935ZM18.4615 16.3012C18.4615 17.7433 17.9867 18.5494 16.9231 18.8509V18.6038C16.9231 16.214 15.5692 13.4242 11.7538 13.4242H8.24619C4.43081 13.4242 3.07692 16.2151 3.07692 18.6038V18.8509C2.01333 18.5494 1.53846 17.7422 1.53846 16.3012V4.76275C1.53846 2.87557 2.34359 2.07044 4.23077 2.07044H15.7692C17.6564 2.07044 18.4615 2.87557 18.4615 4.76275V16.3012ZM10.0083 4.63455C7.88826 4.63455 6.16211 6.35967 6.16211 8.4807C6.16211 10.6017 7.88826 12.3269 10.0083 12.3269C12.1283 12.3269 13.8544 10.6017 13.8544 8.4807C13.8544 6.35967 12.1283 4.63455 10.0083 4.63455ZM10.0083 10.7884C8.73647 10.7884 7.70057 9.75352 7.70057 8.4807C7.70057 7.20788 8.73647 6.17301 10.0083 6.17301C11.2801 6.17301 12.316 7.20788 12.316 8.4807C12.316 9.75352 11.2801 10.7884 10.0083 10.7884Z"
                fill="#00171F" />
        </svg>
        {{ heading_user_block }}
    </span>
</div>
<div class="row gx-3 gx-md-4 gy-3 register_block">
    {% if not user_logged and authorization_enabled %}
        <div class="form-group col-lg-12">
            <div class="d-flex align-items-center alert alert-info py-2 px-3 mb-0 br-8 fsz-14">
                {{ text_have_account }} <a onclick="octPopupLogin();" class="blue-link ms-2 fsz-14 fw-300">{{ heading_login_block }}</a>
            </div>
        </div>
    {% endif %}
    {% for key, field in fields %}
        <div class="form-group col-lg-6">
            <label class="dark-text fsz-14 fw-500 mb-1" for="{{ key }}">
                {% if field.required %}<span class="required">*</span>{% endif %}
                {% if field.localization[language_id].name is not empty %}
                    {{ field.localization[language_id].name }}
                {% elseif attribute(_context, 'entry_' ~ key) is not empty %}
                    {{ attribute(_context, 'entry_' ~ key) }}
                {% else %}
                    {{ field.name }}
                {% endif %}
            </label>
            {% if field.custom_field %}
                {% if field.type == 'text' %}
                    <input type="text" placeholder="{% if field.localization[language_id].placeholder is not empty %}{{ field.localization[language_id].placeholder }}{% endif %}" class="form-control" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}" value="{{ field.value }}">
                {% elseif field.type == 'textarea' %}
                    <textarea class="form-control" placeholder="{% if field.localization[language_id].placeholder is not empty %}{{ field.localization[language_id].placeholder }}{% endif %}" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}">{{ field.value }}</textarea>
                {% elseif field.type == 'date' %}
                    <input type="date" class="form-control" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}" value="{{ field.value }}">
                {% elseif field.type == 'datetime' %}
                    <input type="datetime-local" class="form-control" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}" value="{{ field.value }}">
                {% elseif field.type == 'time' %}
                    <input type="time" class="form-control" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}" value="{{ field.value }}">
                {% elseif field.type == 'select' %}
                    <select class="form-control form-select" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}">
                        {% for option in field.options %}
                            <option value="{{ option.custom_field_value_id }}" {% if option.custom_field_value_id == field.value %}selected{% endif %}>{{ option.name }}</option>
                        {% endfor %}
                    </select>
                {% elseif field.type == 'radio' %}
                    {% for option in field.options %}
                        <div class="form-check d-flex align-items-center">
                                <input class="form-check-input" type="radio" name="custom_{{ field.custom_field_id }}" id="custom_{{ field.custom_field_id }}_{{ option.custom_field_value_id }}" value="{{ option.custom_field_value_id }}" {% if option.custom_field_value_id == field.value %}checked{% endif %}>
                            <label for="custom_{{ field.custom_field_id }}_{{ option.custom_field_value_id }}" class="form-check-label">{{ option.name }}</label>
                        </div>
                    {% endfor %}
                {% elseif field.type == 'checkbox' %}
                    {% for option in field.options %}
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="custom_{{ field.custom_field_id }}_{{ option.custom_field_value_id }}" name="custom_{{ field.custom_field_id }}[]" value="{{ option.custom_field_value_id }}"  {% if option.custom_field_value_id in field.value %}checked{% endif %}> 
                            <label for="custom_{{ field.custom_field_id }}_{{ option.custom_field_value_id }}" class="form-check-label">{{ option.name }}</label>
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                <input type="{{ field.type }}" placeholder="{% if field.localization[language_id].placeholder is not empty %}{{ field.localization[language_id].placeholder }}{% elseif attribute(_context, 'entry_' ~ key) is not empty %}{{ attribute(_context, 'entry_' ~ key) }} {% endif %}" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ field.value }}">
            {% endif %}
        </div>
    {% endfor %}
    {% if customer_addresses and user_logged %}
        <div class="form-group col-lg-12">
            <div class="fsz-14">
                <label class="dark-text fsz-14 fw-500 mb-1" for="address_id">
                    {{ entry_address }}
                </label>
                <select name="address_id" id="address_id" class="form-control form-select">
                    {% for address in customer_addresses %}
                        <option value="{{ address.address_id }}"{% if (selected_address == address.address_id) or (customer.address.address_id == address.address_id and selected_address is empty) %} selected{% endif %}>
                        {% if address.firstname %}{{ address.firstname }}{% endif %}
                        {% if address.lastname %}{{ address.lastname }}, {% endif %}
                        {% if address.country %}{{ address.country }}, {% endif %}
                        {% if address.zone %}{{ address.zone }},{% endif %}
                        {% if address.city %}{{ address.city }},{% endif %}
                        {% if address.company %}{{ address.company }},{% endif %}
                        {% if address.address_1 %}{{ address.address_1 }}{% endif %}
                        {% if address.postcode %} ({{ address.postcode }}){% endif %}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}
    {% if not user_logged and registration_enabled %}
        <div class="form-group col-lg-12 mb-0{% if not config_checkout_guest %} d-none{% endif %}">
            <div class="form-check mb-0 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" name="register" onclick="$('.register-form').toggle(); formChangeData();" id="registerCheckbox" {% if register_check or not config_checkout_guest %}checked{% endif %}>
                <label class="form-check-label d-flex align-items-center" for="registerCheckbox">{{ text_register }}</label>
            </div>
        </div>
        <div class="form-group col-md-12 register-form"{% if not register_check %} style="display: none;"{% endif %}>
            <div class="row">
                <label class="col-md-12 dark-text fsz-14 fw-500 mb-1" for="password">
                    <span class="required">*</span> {{ entry_password }}
                </label>
                <div class="col-md-6">
                    <div class="input-group password-input-group">
                        <input type="password" name="password"  oninput="updateStrengthIndicator(this.value)" value="{{ password }}" placeholder="{{ entry_password }}" id="password" class="form-control br-6 px-5">
                        <input type="number" class="d-none" id="length" value="12" min="8" max="24">
                        <button class="button button-transparent button-show position-absolute" onclick="togglePasswordVisibility()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="16" viewBox="0 0 19 16" fill="none">
                                <path d="M18.0244 6.22877C16.8124 4.199 14.0921 0.793945 9.5 0.793945C4.90786 0.793945 2.18755 4.199 0.975598 6.22877C0.341467 7.28842 0.341467 8.60571 0.975598 9.66629C2.18755 11.6961 4.90786 15.1011 9.5 15.1011C14.0921 15.1011 16.8124 11.6961 18.0244 9.66629C18.6585 8.60571 18.6585 7.28934 18.0244 6.22877ZM16.8363 8.95553C15.7748 10.7333 13.4091 13.7165 9.5 13.7165C5.59091 13.7165 3.22515 10.7342 2.16366 8.95553C1.79259 8.3334 1.79259 7.56076 2.16366 6.93863C3.22515 5.16085 5.59091 2.17761 9.5 2.17761C13.4091 2.17761 15.7748 5.15992 16.8363 6.93863C17.2083 7.56168 17.2083 8.3334 16.8363 8.95553ZM9.5 4.0246C7.33639 4.0246 5.57707 5.78484 5.57707 7.94753C5.57707 10.1102 7.33639 11.8705 9.5 11.8705C11.6636 11.8705 13.4229 10.1102 13.4229 7.94753C13.4229 5.78484 11.6636 4.0246 9.5 4.0246ZM9.5 10.4859C8.09974 10.4859 6.96163 9.34778 6.96163 7.94753C6.96163 6.54727 8.09974 5.40916 9.5 5.40916C10.9003 5.40916 12.0384 6.54727 12.0384 7.94753C12.0384 9.34778 10.9003 10.4859 9.5 10.4859Z" fill="#00171F"></path>
                            </svg>
                        </button>
                        <button class="button button-transparent button-copy position-absolute" onclick="copyToClipboard()">
                            <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.7863 6.06681L12.9083 1.18876C12.7707 1.0512 12.5853 0.974121 12.3911 0.974121H7.90325C5.95008 0.974121 4.83017 2.09412 4.83017 4.04729V4.87656H4.00081C2.04764 4.87656 0.927734 5.99655 0.927734 7.94973V17.901C0.927734 19.8532 2.04764 20.9741 4.00081 20.9741H11.0244C12.9776 20.9741 14.0975 19.8541 14.0975 17.901V17.0717H14.9269C16.88 17.0717 18 15.9517 18 13.9985V6.58388C18.0009 6.38973 17.9239 6.20339 17.7863 6.06681ZM13.1229 3.47266L15.5023 5.85217H14.8302C13.6009 5.85217 13.1229 5.37315 13.1229 4.14485V3.47266ZM12.6351 17.901C12.6351 19.059 12.1834 19.5107 11.0254 19.5107H4.00176C2.84274 19.5107 2.3921 19.059 2.3921 17.901V7.94973C2.3921 6.79168 2.84371 6.33997 4.00176 6.33997H4.83113V13.9985C4.83113 15.9507 5.95103 17.0717 7.9042 17.0717H12.636V17.901H12.6351ZM14.9278 15.6083H7.9042C6.74518 15.6083 6.29454 15.1566 6.29454 13.9985V4.04729C6.29454 2.88924 6.74615 2.43754 7.9042 2.43754H11.6604V4.14485C11.6604 6.18973 12.7862 7.31558 14.8311 7.31558H16.5384V13.9985C16.5375 15.1566 16.0859 15.6083 14.9278 15.6083Z" fill="#003459"/>
                            </svg>

                        </button>
                    </div>
                    <div id="strengthIndicator" class="strength-indicator"></div>
                </div>
                <div class="col-md-6 pt-2 pt-md-0">
                    <button class="button button-outline button-outline-primary button-generate w-100" onclick="generatePassword()">{{ text_generate_password }}</button>
                </div>
            </div>
        </div>
    {% endif %}
    {% if user_logged %}
        <div class="form-group col-lg-12">
            <div class="form-check d-flex align-items-center{% if not customer_addresses %} d-none{% endif %}">
                <input class="form-check-input" type="checkbox" name="new_address" onclick="$('.new_address').toggle();" id="newAddressCheckbox" {% if new_address_check or not customer_addresses %}checked{% endif %}>
                <label class="form-check-label d-flex align-items-center" for="newAddressCheckbox">{{ text_address_new }}</label>
            </div>
            <div class="new_address mt-3 content-block py-2 px-3 br-8 fsz-14"{% if not new_address_check %} style="display: none;"{% endif %}>
                <div class="row">
                    {% for key, field in customer_new_address_fields %}
                        <div class="form-group col-lg-6 mb-3 mt-3">
                            <label class="dark-text fsz-14 fw-500 mb-1" for="{{ key }}">
                                {% if field.required %}<span class="required">*</span>{% endif %}
                                {% if field.localization[language_id].name is not empty %}
                                    {{ field.localization[language_id].name }}
                                {% elseif attribute(_context, 'entry_' ~ key) is not empty %}
                                    {{ attribute(_context, 'entry_' ~ key) }}
                                {% else %}
                                    {{ field.name }}
                                {% endif %}
                            </label>
                            {% if field.custom_field %}
                                {% if field.type == 'text' %}
                                    <input type="text" placeholder="{% if field.localization[language_id].placeholder is not empty %}{{ field.localization[language_id].placeholder }}{% endif %}" class="form-control" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}" value="{{ field.value }}">
                                {% elseif field.type == 'textarea' %}
                                    <textarea class="form-control" placeholder="{% if field.localization[language_id].placeholder is not empty %}{{ field.localization[language_id].placeholder }}{% endif %}" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}">{{ field.value }}</textarea>
                                {% elseif field.type == 'date' %}
                                    <input type="date" class="form-control" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}" value="{{ field.value }}">
                                {% elseif field.type == 'datetime' %}
                                    <input type="datetime-local" class="form-control" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}" value="{{ field.value }}">
                                {% elseif field.type == 'time' %}
                                    <input type="time" class="form-control" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}" value="{{ field.value }}">
                                {% elseif field.type == 'select' %}
                                    <select class="form-control form-select" id="custom_{{ field.custom_field_id }}" name="custom_{{ field.custom_field_id }}">
                                        {% for option in field.options %}
                                            <option value="{{ option.custom_field_value_id }}" {% if option.custom_field_value_id == field.value %}selected{% endif %}>{{ option.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% elseif field.type == 'radio' %}
                                    {% for option in field.options %}
                                        <div class="form-check d-flex align-items-center">
                                                <input class="form-check-input" type="radio" name="custom_{{ field.custom_field_id }}" id="custom_{{ field.custom_field_id }}_{{ option.custom_field_value_id }}" value="{{ option.custom_field_value_id }}" {% if option.custom_field_value_id == field.value %}checked{% endif %}>
                                            <label for="custom_{{ field.custom_field_id }}_{{ option.custom_field_value_id }}" class="form-check-label">{{ option.name }}</label>
                                        </div>
                                    {% endfor %}
                                {% elseif field.type == 'checkbox' %}
                                    {% for option in field.options %}
                                        <div class="form-check d-flex align-items-center">
                                            <input class="form-check-input" type="checkbox" id="custom_{{ field.custom_field_id }}_{{ option.custom_field_value_id }}" name="custom_{{ field.custom_field_id }}[]" value="{{ option.custom_field_value_id }}" {% if option.custom_field_value_id in field.value %}checked{% endif %}> 
                                            <label for="custom_{{ field.custom_field_id }}_{{ option.custom_field_value_id }}" class="form-check-label">{{ option.name }}</label>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                            {% if key == 'country_id' %}
                                <select class="form-control form-select" id="{{ key }}" name="{{ key }}">
                                    <option value="">{{ text_select }}</option>
                                    {% for country in countries %}
                                        {% if country.country_id == default_country_id %}
                                            <option value="{{ country.country_id }}" selected="selected">{{ country.name }}
                                            </option>
                                        {% elseif country.country_id == field.value %}
                                            <option value="{{ country.country_id }}" selected="selected">{{ country.name }}
                                            </option>
                                        {% else %}
                                            <option value="{{ country.country_id }}">{{ country.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% elseif key == 'zone_id' %}
                                    <select class="form-control form-select" id="{{ key }}" name="{{ key }}">
                                        <option value="">{{ text_select }}</option>
                                            {% for zone in zones %}
                                                {% if zone.zone_id == field.value %}
                                                    <option value="{{ zone.zone_id }}" selected="selected">{{ zone.name }}</option>
                                                {% elseif zone.zone_id == default_zone_id %}
                                                    <option value="{{ zone.zone_id }}" selected="selected">{{ zone.name }}</option>
                                                {% else %}
                                                    <option value="{{ zone.zone_id }}">{{ zone.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                    </select>
                                {% else %}
                                    <input type="{{ field.type }}" placeholder="{% if field.localization[language_id].placeholder is not empty %}{{ field.localization[language_id].placeholder }}{% elseif attribute(_context, 'entry_' ~ key) is not empty %}{{ attribute(_context, 'entry_' ~ key) }} {% endif %}" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ field.value }}">
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="form-group col-lg-12 mb-1">
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" name="default" id="defaultAddressCheckbox">
                            <label class="form-check-label d-flex align-items-center" for="defaultAddressCheckbox">{{ text_set_default_address }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>