{{ header }}
<div id="account-newsletter" class="container-fluid container-xl flex-grow-1">
	<nav aria-label="breadcrumb">
        <ul class="breadcrumb ds-breadcrumb fsz-12">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.last %}
                <li class="breadcrumb-item ds-breadcrumb-item">{{ breadcrumb.text }}</li>
            {% else %}
                <li class="breadcrumb-item ds-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
	<main>
		<div class="row">
			<div class="col-12 ds-page-title pb-3">
				<h1>{{ heading_title }}</h1>
			</div>
		</div>
		<div class="content-top-box">{{ content_top }}</div>
		<div class="ds-account row g-3">
			{{ column_left }}
		    {% if column_left and column_right %}
		    	{% set class = 'col-xl-6' %}
		    {% elseif column_left or column_right %}
		    	{% set class = 'col-xl-9' %}
		    {% else %}
		    	{% set class = 'col-xl-12' %}
		    {% endif %}
		    <div id="content" class="{{ class }}">
				<div class="content-block h-100">
					<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
						<fieldset class="p-0">
							<legend class="h3 mt-0 mb-3">{{ entry_newsletter }}</legend>
							<div class="d-flex align-items-center">
								{% if newsletter %}
									<div class="form-check d-flex align-items-center mb-0">
										<input type="radio" class="form-check-input" name="newsletter" id="checkYes" value="1" checked="checked" />
										<label class="form-check-label" for="checkYes">
											{{ text_yes }}
										</label>
									</div>
									<div class="form-check d-flex align-items-center my-0 ms-3">
										<input type="radio" class="form-check-input" name="newsletter" id="checkNo" value="0" />
									<label class="form-check-label" for="checkNo">
											{{ text_no }}
										</label>
									</div>
								{% else %}
									<div class="form-check d-flex align-items-center mb-0">
										<input type="radio" class="form-check-input" name="newsletter" id="checkYes" value="1" />
										<label class="form-check-label" for="checkYes">
											{{ text_yes }}
										</label>
									</div>
									<div class="form-check d-flex align-items-center my-0 ms-3">
										<input type="radio" class="form-check-input" name="newsletter" id="checkNo" value="0" checked="checked" />
										<label class="form-check-label" for="checkNo">
											{{ text_no }}
										</label>
									</div>
								{% endif %}
							</div>
						</fieldset>
						<div class="mt-4">
							<input type="submit" value="{{ button_continue }}" class="button button-primary br-7 ds-account-login-button" />
						</div>
					</form>
				</div>
			</div>
			{{ column_right }}
		</div>
		{{ content_bottom }}
	</main>
</div>
{{ footer }}
