{{ header }}
<div id="account-order" class="container-fluid container-xl flex-grow-1">
	<nav aria-label="breadcrumb">
        <ul class="breadcrumb ds-breadcrumb fsz-12">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.last %}
                <li class="breadcrumb-item ds-breadcrumb-item">{{ breadcrumb.text }}</li>
            {% else %}
                <li class="breadcrumb-item ds-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
    <main>
        <div class="row">
            <div class="col-12 ds-page-title pb-3">
                <h1>{{ heading_title }}</h1>
            </div>
        </div>
        <div class="content-top-box">{{ content_top }}</div>
        {% if success %}
            <script>
                scNotify('success', '{{ success }}');
            </script>
        {% endif %}
        {% if error_warning %}
            <script>
                scNotify('warning', '{{ error_warning }}');
            </script>
        {% endif %}
        <div class="ds-account row g-3">
            {{ column_left }}
            {% if column_left and column_right %}
                {% set class = 'col-xl-6' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-xl-9' %}
            {% else %}
                {% set class = 'col-xl-12' %}
            {% endif %}
            <div id="content" class="{{ class }}">
                <div class="content-block h-100">
                    <div class="h3 mt-0 mb-1">{{ text_order_detail }}</div>
                    <div class="ds-account-order">
                        {% if invoice_no %}
                        	<div class="ds-account-text-order">{{ text_invoice_no }}<span class="dark-text"> {{ invoice_no }}</span></div>
                        {% endif %}
                        <div class="ds-account-text-order">{{ text_order_id }}<span class="dark-text"> #{{ order_id }}</span></div>
                        <div class="ds-account-text-order">{{ text_date_added }}<span class="dark-text"> {{ date_added }}</span>
                        </div>
                        <div class="ds-account-text-order">{{ text_payment_method }}<span class="dark-text"> {{ payment_method }}</span></div>
                        {% if shipping_method %}
                            <div class="ds-account-text-order">{{ text_shipping_method }}<span class="dark-text"> {{ shipping_method }}</span></div>
                        {% endif %}
                    </div>
                    {% if module_account_payment_address_view %}
                        <div class="h3 mt-3 mb-1">{{ text_payment_address }}</div>
                        <div class="ds-account-text">
                            <div class="ds-account-text-order">
                                {{ payment_address }}
                            </div>
                        </div>
                    {% endif %}
                    {% if shipping_address %}
                        <div class="h3 mt-3 mb-1">{{ text_shipping_address }}</div>
                        <div class="ds-account-text mb-3">
                            <div class="ds-account-text-order">
                                {{ shipping_address }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="table-responsive fsz-14 fw-300">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>{{ column_name }}</th>
                                    <th>{{ column_model }}</th>
                                    <th>{{ column_price }}</th> 
                                    <th style="text-align: right;">{{ column_quantity }}</th>
                                    <th style="text-align: right;">{{ column_total }}</th>
                                    {% if products %}
                                        <th style="width: 20px;"></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>
                                            <div class="d-flex gap-3">
                                                {% if product.image %}
                                                    <a href="{{ product.href }}">
                                                        <img src="{{ product.image }}" alt="{{ product.name }}" width="{{ product.image_width }}" height="{{ product.image_height }}" class="img-thumbnail"/>
                                                    </a>
                                                {% endif %}
                                                <div>
                                                    <a href="{{ product.href }}"><strong>{{ product.name }}</strong></a>
                                                    {% for option in product.option %}
                                                        <br/><small>- {{ option.name }}: {{ option.value }}</small>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: center;">{{ product.model }}</td>
                                        <td style="text-align: right;">{{ product.price }}</td>
                                        <td style="text-align: right;">{{ product.quantity }}</td>
                                        <td style="text-align: right;">{{ product.total }}</td>
                                        <td style="white-space: nowrap;">
                                            {% if product.reorder %}
                                                <a href="{{ product.reorder }}" data-bs-toggle="tooltip" title="{{ button_reorder }}" class="button button-outline button-outline-primary br-8 p-2">
                                                    <svg class="me-0" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M13.3333 4.10256H11.4872V3.48718C11.4872 1.5639 9.92328 0 8 0C6.07672 0 4.51282 1.5639 4.51282 3.48718V4.10256H2.66666C1.64923 4.10256 0.820511 4.93046 0.820511 5.94872V12.9231C0.820511 14.9071 1.91343 16 3.89743 16H12.1026C14.0866 16 15.1795 14.9071 15.1795 12.9231V5.94872C15.1795 4.93046 14.3508 4.10256 13.3333 4.10256ZM5.74359 3.48718C5.74359 2.24246 6.75528 1.23077 8 1.23077C9.24472 1.23077 10.2564 2.24246 10.2564 3.48718V4.10256H5.74359V3.48718ZM13.9487 12.9231C13.9487 14.217 13.3965 14.7692 12.1026 14.7692H3.89743C2.60349 14.7692 2.05128 14.217 2.05128 12.9231V5.94872C2.05128 5.60903 2.32779 5.33333 2.66666 5.33333H4.51282V7.17949C4.51282 7.51918 4.78851 7.79487 5.1282 7.79487C5.4679 7.79487 5.74359 7.51918 5.74359 7.17949V5.33333H10.2564V7.17949C10.2564 7.51918 10.5321 7.79487 10.8718 7.79487C11.2115 7.79487 11.4872 7.51918 11.4872 7.17949V5.33333H13.3333C13.6722 5.33333 13.9487 5.60903 13.9487 5.94872V12.9231Z" fill="#00A8E8"></path>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                           <a href="{{ product.return }}" data-bs-toggle="tooltip" title="{{ button_return }}" class="button button-danger br-7 p-2 ms-2">
                                                <svg class="me-0" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20" fill="none">
                                                    <path d="M19 3.25H15.441C14.54 3.25 14.502 3.136 14.255 2.396L14.053 1.789C13.746 0.869001 12.889 0.25 11.919 0.25H8.08099C7.11099 0.25 6.253 0.868001 5.947 1.789L5.745 2.396C5.498 3.137 5.46 3.25 4.559 3.25H1C0.586 3.25 0.25 3.586 0.25 4C0.25 4.414 0.586 4.75 1 4.75H2.298L3.065 16.249C3.213 18.474 4.57701 19.75 6.80701 19.75H13.194C15.423 19.75 16.787 18.474 16.936 16.249L17.703 4.75H19C19.414 4.75 19.75 4.414 19.75 4C19.75 3.586 19.414 3.25 19 3.25ZM7.37 2.263C7.473 1.956 7.75799 1.75 8.08099 1.75H11.919C12.242 1.75 12.528 1.956 12.63 2.263L12.832 2.87C12.876 3.001 12.92 3.128 12.968 3.25H7.03C7.078 3.127 7.12301 3 7.16701 2.87L7.37 2.263ZM15.438 16.149C15.343 17.582 14.629 18.25 13.193 18.25H6.806C5.37 18.25 4.657 17.583 4.561 16.149L3.801 4.75H4.558C4.683 4.75 4.787 4.737 4.899 4.729C4.933 4.734 4.964 4.75 4.999 4.75H14.999C15.035 4.75 15.065 4.734 15.099 4.729C15.211 4.737 15.315 4.75 15.44 4.75H16.197L15.438 16.149ZM12.75 9V14C12.75 14.414 12.414 14.75 12 14.75C11.586 14.75 11.25 14.414 11.25 14V9C11.25 8.586 11.586 8.25 12 8.25C12.414 8.25 12.75 8.586 12.75 9ZM8.75 9V14C8.75 14.414 8.414 14.75 8 14.75C7.586 14.75 7.25 14.414 7.25 14V9C7.25 8.586 7.586 8.25 8 8.25C8.414 8.25 8.75 8.586 8.75 9Z" fill="#FFFFFF"/>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for voucher in vouchers %}
                                    <tr>
                                        <td>{{ voucher.description }}</td>
                                        <td></td>
                                        <td>1</td>
                                        <td>{{ voucher.amount }}</td>
                                        <td>{{ voucher.amount }}</td>
                                        {% if products %}
                                            <td></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {% for total in totals %}
                                    <tr>
                                        {% if products %}
                                            <td></td>
                                        {% endif %}
                                        <td colspan="3"></td>
                                        <td class="text-end">{{ total.title }}</td>
                                        <td class="dark-text fw-500 text-end">{{ total.text }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if comment %}
                        <div class="h3 mt-3 mb-1">{{ text_comment }}</div>
                        <div class="ds-account-text">{{ comment }}</div>
                    {% endif %}
                    {% if histories %}
                        <div class="h3 mt-3 mb-1">{{ text_history }}</div>
                        <div class="table-responsive fsz-14 fw-300">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>{{ column_date_added }}</th>
                                        <th>{{ column_status }}</th>
                                        <th>{{ column_comment }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if histories %}
                                        {% for history in histories %}
                                            <tr>
                                                <td>{{ history.date_added }}</td>
                                                <td>{{ history.status }}</td>
                                                <td>{{ history.comment }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="3" class="text-center">{{ text_no_results }}</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    <a href="{{ continue }}" class="button button-primary br-7 ds-account-login-button mt-3">{{ button_continue }}</a>
                </div>
            </div>
            {{ column_right }}
        </div>
        {{ content_bottom }}
    </main>
</div>
{{ footer }}
