{{ header }}
<div id="account-reset" class="container-fluid container-xl flex-grow-1">
	<nav aria-label="breadcrumb">
        <ul class="breadcrumb ds-breadcrumb fsz-12">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.last %}
                <li class="breadcrumb-item ds-breadcrumb-item">{{ breadcrumb.text }}</li>
            {% else %}
                <li class="breadcrumb-item ds-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
	<main>
		<div class="row">
			<div class="col-12 ds-page-title pb-3">
				<h1>{{ heading_title }}</h1>
			</div>
		</div>
		<div class="content-top-box">{{ content_top }}</div>
		<div class="ds-account row g-3">
			{{ column_left }}
		    {% if column_left and column_right %}
		    	{% set class = 'col-xl-6' %}
		    {% elseif column_left or column_right %}
		    	{% set class = 'col-xl-9' %}
		    {% else %}
		    	{% set class = 'col-xl-12' %}
		    {% endif %}
		    <div id="content" class="{{ class }}">
				<div class="content-block h-100">
					<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
						<fieldset class="p-0">
							<legend class="h3 mt-0 mb-1">{{ text_password }}</legend>
							<div class="form-group mb-3">
								<label class="dark-text fsz-14 fw-500 mb-1" for="input-password"><span class="required">*</span> {{ entry_password }}</label>
								{% if error_password %}
									<script>
										scNotify('warning', '{{ error_password }}');
									</script>
								{% endif %}
								<input type="password" name="password" value="{{ password }}" id="input-password" class="form-control" />
							</div>
							<div class="form-group mb-3">
								<label class="dark-text fsz-14 fw-500 mb-1" for="input-confirm"><span class="required">*</span> {{ entry_confirm }}</label>
								{% if error_confirm %}
									<script>
										scNotify('warning', '{{ error_confirm }}');
									</script>
								{% endif %}
								<input type="password" name="confirm" value="{{ confirm }}" id="input-confirm" class="form-control" />
							</div>
						</fieldset>
						<button type="submit" class="button button-primary br-7 ds-account-login-button">{{ button_continue }}</button>
					</form>
			    </div>
		    </div>
		    {{ column_right }}
		</div>
		{{ content_bottom }}
	</main>
</div>
{{ footer }}
