{{ header }}
<div id="account-return" class="container-fluid container-xl flex-grow-1">
	<nav aria-label="breadcrumb">
        <ul class="breadcrumb ds-breadcrumb fsz-12">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.last %}
                <li class="breadcrumb-item ds-breadcrumb-item">{{ breadcrumb.text }}</li>
            {% else %}
                <li class="breadcrumb-item ds-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
	<main>
		<div class="row">
			<div class="col-12 ds-page-title pb-3">
                <h1>{{ heading_title }}</h1>
            </div>
		</div>
		<div class="content-top-box">{{ content_top }}</div>
		<div class="ds-account row g-3">
			{{ column_left }}
		    {% if column_left and column_right %}
                {% set class = 'col-xl-6' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-xl-9' %}
            {% else %}
                {% set class = 'col-xl-12' %}
            {% endif %}
		    <div id="content" class="{{ class }}">
				<div class="content-block h-100">
			      	{% if returns %}
						<div class="table-responsive fsz-14 fw-300">
							<table class="table table-hover">
							<thead class="thead-dark">
								<tr>
								<th>{{ column_return_id }}</th>
								<th>{{ column_status }}</th>
								<th>{{ column_date_added }}</th>
								<th>{{ column_order_id }}</th>
								<th>{{ column_customer }}</th>
								</tr>
							</thead>
							<tbody>
							{% for return in returns %}
							<tr>
								<td><a href="{{ return.href }}">#{{ return.return_id }}</a></td>
								<td>{{ return.status }}</td>
								<td>{{ return.date_added }}</td>
								<td>{{ return.order_id }}</td>
								<td>{{ return.name }}</td>
							</tr>
							{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="row mt-2 dark-text fsz-14">
							<div class="col-sm-6 text-start">{{ pagination }}</div>
							<div class="col-sm-6 text-end">{{ results }}</div>
						</div>
			      	{% else %}
			      		<div class="fw-500 mb-3 dark-text">{{ text_empty }}</div>
			      	{% endif %}
					<a href="{{ continue }}" class="button button-primary br-7 ds-account-login-button">{{ button_continue }}</a>
			    </div>
		    </div>
		    {{ column_right }}
		</div>
		{{ content_bottom }}
	</main>
</div>
{{ footer }}
