{{ header }}
<div id="account-transaction" class="container-fluid container-xl flex-grow-1">
	<nav aria-label="breadcrumb">
        <ul class="breadcrumb ds-breadcrumb fsz-12">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.last %}
                <li class="breadcrumb-item ds-breadcrumb-item">{{ breadcrumb.text }}</li>
            {% else %}
                <li class="breadcrumb-item ds-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
	<main>
		<div class="row">
			<div class="col-12 ds-page-title pb-3">
	                <h1>{{ heading_title }}</h1>
	            </div>
		</div>
		<div class="content-top-box">{{ content_top }}</div>
		<div class="ds-account row g-3">
			{{ column_left }}
		    {% if column_left and column_right %}
                {% set class = 'col-xl-6' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-xl-9' %}
            {% else %}
                {% set class = 'col-xl-12' %}
            {% endif %}
		    <div id="content" class="{{ class }}">
				<div class="content-block h-100">
			      	<div class="h3 mt-0 mb-3">{{ text_total }} <b>{{ total }}</b>.</div>
					<div class="table-responsive fsz-14 fw-300">
						<table class="table table-hover">
						<thead class="thead-dark">
							<tr>
							<th>{{ column_date_added }}</th>
							<th>{{ column_description }}</th>
							<th>{{ column_amount }}</th>
							</tr>
						</thead>
						<tbody>
						{% if transactions %}
						{% for transaction in transactions %}
						<tr>
							<td>{{ transaction.date_added }}</td>
							<td>{{ transaction.description }}</td>
							<td>{{ transaction.amount }}</td>
						</tr>
						{% endfor %}
						{% else %}
						<tr>
							<td colspan="5">{{ text_empty }}</td>
						</tr>
						{% endif %}
							</tbody>
		
						</table>
					</div>
					<div class="row mt-2 dark-text fsz-14 mb-4">
						<div class="col-sm-6 text-start">{{ pagination }}</div>
						<div class="col-sm-6 text-end">{{ results }}</div>
					</div>
					<a href="{{ continue }}" class="button button-primary br-7 ds-account-login-button">{{ button_continue }}</a>
			    </div>
		    </div>
		    {{ column_right }}
		</div>
		{{ content_bottom }}
	</main>
</div>
{{ footer }}
