{{ header }}
<div id="product-manufacturer" class="container-fluid container-xl flex-grow-1">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb ds-breadcrumb fsz-12">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.last %}
                <li class="breadcrumb-item ds-breadcrumb-item">{{ breadcrumb.text }}</li>
            {% else %}
                <li class="breadcrumb-item ds-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
    {% if oct_deals_data.micro is defined and oct_deals_data.micro %}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":
        [
            {% for breadcrumb in breadcrumbs %}
                {% if loop.first %}
                {% else %}
                {
                    "@type": "ListItem",
                    "position": {{ loop.index -1 }},
                    "item":
                    {
                        "@id": "{{ breadcrumb.href }}",
                        "name": "{{ breadcrumb.text }}"
                    }
                }{% if not loop.last %},{% endif %}
                {% endif %}
            {% endfor %}
        ]
    }
    </script>
    {% endif %}
    <main>
        <div class="row">
            <div class="col-12 ds-page-title pb-3">
                <h1>{{ heading_title }}</h1>
            </div>
        </div>
        <div class="content-top-box">{{ content_top }}</div>
        <div class="row g-3">
            {{ column_left }}
            {% if column_left and column_right %}
                {% set class = 'col-xl-6 is-cols' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-xl-9' %}
            {% else %}
                {% set class = 'col-xl-12 no-col' %}
            {% endif %}
            <div id="content" class="{{ class }}">
                {% if categories %}
                    <div class="ds-manufacturer-links content-block mb-3 sticky-top ds-sticky-column">
                        <span class="fw-500 dark-text">{{ text_index }}</span>
                        {% for category in categories %}
                            <span data-scroll="goTo-{{ category.name|replace({' ': ''}) }}" class="blue-link">{{ category.name }}</span>
                        {% endfor %}
                        <script>
                            document.addEventListener('DOMContentLoaded', () => {
                                scrollToBrand();
                                stickyColumn();
                            });
                        </script>
                    </div>
                    {% for category in categories %}
                        <div class="content-block ds-manufacturer-item mb-3 p-2 p-md-3">
                            <div id="goTo-{{ category.name|replace({' ': ''}) }}" class="ds-manufacturer-title fsz-20 fw-700 dark-text pb-2 pb-md-3">{{ category.name }}</div>
                            {% if category.manufacturer %}
                                <div class="row g-2 g-md-3 pt-2 pt-md-3">
                                    {% for manufacturer in category.manufacturer %}
                                        <a href="{{ manufacturer.href }}" class="ds-manufacturer-item-block">
                                            {% if manufacturer.image is defined and manufacturer.image %}
                                                <span class="content-block d-flex flex-column align-items-center text-center h-100">
                                                    <img src="{{ manufacturer.image }}" class="img-fluid" alt="{{ manufacturer.name }}" width="{{ manufacturer.width }}" height="{{ manufacturer.height }}" loading="lazy"/>
                                                    <span class="fw-700 fsz-14 dark-text ds-manufacturer-item-title">{{ manufacturer.name }}</span>
                                                </span>
                                            {% else %}
                                                <span class="content-block d-flex flex-column align-items-center text-center h-100">
                                                    <span class="fw-700 fsz-14 dark-text ds-manufacturer-item-title">{{ manufacturer.name }}</span>
                                                </span>
                                            {% endif %}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="content-block">
                        <p class="fw-500 dark-text">{{ text_empty }}</p>
                        <a href="{{ continue }}" class="button button-primary mt-3 br-7 d-inline-flex">{{ button_continue }}</a>
                    </div>
                {% endif %}
            </div>
            {{ column_right }}
        </div>
        {{ content_bottom }}
    </main>
</div>
{{ footer }}
