{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      {% if decoded_logs %}
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Event Name</th>
            <th>Event Data</th>
          </tr>
        </thead>
        <tbody>
          {% for log in decoded_logs %}
          <tr>
            <td>{{ log.date }}</td>
            <td>{{ log.event_name }}</td>
            <td><pre>{{ log.event_data|raw }}</pre></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No log entries found.</p>
      {% endif %}
    </div>
  </div>
  <div class="container-fluid">

  </div>
</div>
{{ footer }}