	{% if result %}
	<div class="modal-body">
		<div class="table-responsive">
			<table class="table table-striped table-hover">
			{% if result.order_id %}
				<tr><td><b>{{ text_info_order_id }}</b></td><td>{{ result.order_id }} {% if result.order_link %}<a href="{{ result.order_link }}" target="_blank">{{ text_view_order }}</a>{% endif %}</td></tr>
			{% endif %}
			{% if result.invoiceId %}
				<tr><td><b>{{ text_info_payment_id }}</b></td><td>{{ result.invoiceId }}</td></tr>
			{% endif %}
			{% if result.text_status %}
				<tr><td><b>{{ text_info_status }}</b></td><td>{{ result.text_status }}</td></tr>
			{% endif %}
			{% if result.amount %}
				<tr><td><b>{{ text_info_amount }}</b></td><td>{{ result.amount }}</td></tr>
			{% endif %}
			{% if result.finalAmount %}
				<tr><td><b>{{ text_info_final_amount }}</b></td><td>{{ result.finalAmount }}</td></tr>
			{% endif %}
			{% if result.currency %}
				<tr><td><b>{{ text_info_currency }}</b></td><td>{{ result.currency }}</td></tr>
			{% endif %}
			{% if result.createdDate %}
				<tr><td><b>{{ text_info_create_date }}</b></td><td>{{ result.createdDate }}</td></tr>
			{% endif %}	
			{% if result.modifiedDate %}
				<tr><td><b>{{ text_info_end_date }}</b></td><td>{{ result.modifiedDate }}</td></tr>
			{% endif %}
			</table>
		</div>	
    </div>
	{% if result.status == 'hold' %}
      <div class="modal-footer">
		<div class="col-sm-6">
			<div class="form-group" style="padding: 0;">
				<span style="display:block;float:left;padding:7px 0;font-size:13px;font-weight:600;color:red;">
					{{ text_write_off }}
				</span>
				<input type="text" name="amount_transaction" value="{{ result.amount }}" placeholder="Заказ №" id="input-amount" class="form-control" style="float:left;max-width:110px;margin-left:10px" />
			</div>
		</div>
        <button type="button" class="btn btn-success" id="apply-mono-pay" data-id="{{ result.order_id }}" data-invoice="{{ result.invoiceId }}">{{ text_apply_pay }}</button>
        <button type="button" class="btn btn-danger" id="cancel-mono-pay" data-id="{{ result.order_id }}">{{ text_cancel_pay }}</button>
      </div>
	{% endif %}
	{% else %}
	<div class="modal-body">
		{{ text_empty }}
	</div>
	{% endif %}
	<script>
		$('#apply-mono-pay').on('click', function() {
			var id = $(this).attr('data-id');
			var invoice = $(this).attr('data-invoice');
			var amount = parseFloat($('#input-amount').val());

			$.ajax({
				url: 'index.php?route=sale/mono_pay/successPay&user_token={{ user_token }}&amount=' + encodeURIComponent(amount) + '&invoice_id=' + encodeURIComponent(invoice),
				dataType: 'json',
				beforeSend: function() {
					$('#apply-mono-pay').button('loading');
				},
				complete: function() {
					$('#apply-mono-pay').button('reset');
				},
				success: function(json) {
					$('.alert').remove();
					
					if(json['error']) {
						$('.modal-footer').before('<div class="col-sm-12"><div class="alert alert-danger" style="margin-top: 10px;">' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
					}
					
					if(json['success']) {
						if($('a').is('#get-info-monopay')) {
							$('.alert').remove();
							
							$('.container-fluid>.row').before('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
							
							$('#info-modal').modal('hide');
						} else {
							location.href = location.href;
						}
					}	
				}
			});	
		});		
		
		$('#cancel-mono-pay').on('click', function() {
			var id = $(this).attr('data-id');
			var amount = parseFloat($('#input-amount').val());
			var invoice = $(this).attr('data-invoice');

			$.ajax({
				url: 'index.php?route=sale/mono_pay/refundPay&user_token={{ user_token }}&amount=' + encodeURIComponent(amount) + '&invoice_id=' + encodeURIComponent(invoice),
				dataType: 'json',
				beforeSend: function() {
					$('#cancel-mono-pay').button('loading');
				},
				complete: function() {
					$('#cancel-mono-pay').button('reset');
				},
				success: function(json) {
					$('.alert').remove();
					
					if(json['error']) {
						$('.modal-footer').before('<div class="col-sm-12"><div class="alert alert-danger" style="margin-top: 10px;">' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');
					}
					
					if(json['success']) {
						if($('a').is('#get-info-monopay')) {
							$('.alert').remove();
							
							$('.container-fluid>.row').before('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
							
							$('#info-modal').modal('hide');
						} else {
							location.href = location.href;
						}
					}	
				}
			});	
		});
	</script>